<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<style>
  body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

#calendar {
  max-width: 600px;
  margin: 0 auto;
}

.calendar-row {
  display: flex;
  justify-content: space-between;
}

.calendar-day {
  width: calc(100% / 7);
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.selected-day {
  background-color: #007bff;
  color: #fff;
}
 
</style>
 <script th:inline="javascript">
document.addEventListener("DOMContentLoaded", function() {
  const calendarDiv = document.getElementById('calendar');
  const today = new Date();
  let selectedDate = new Date();

  renderCalendar(today);

  function renderCalendar(date) {
    const year = date.getFullYear();
    const month = date.getMonth();
    const daysInMonth = new Date(year, month + 1, 0).getDate();
    const firstDayOfMonth = new Date(year, month, 1).getDay();
    const lastDayOfMonth = new Date(year, month, daysInMonth).getDay();
    const days = ['일', '월', '화', '수', '목', '금', '토'];
    
    calendarDiv.innerHTML = '';

    // 이번 달의 첫 주의 시작 요일까지 빈 칸 삽입
    for (let i = 0; i < firstDayOfMonth; i++) {
      const emptyDayDiv = document.createElement('div');
      emptyDayDiv.classList.add('calendar-day');
      calendarDiv.appendChild(emptyDayDiv);
    }

    // 이번 달의 날짜 추가
    for (let day = 1; day <= daysInMonth; day++) {
      const dayDiv = document.createElement('div');
      dayDiv.classList.add('calendar-day');
      dayDiv.textContent = day;
      if (date.getMonth() === selectedDate.getMonth() && day === selectedDate.getDate()) {
        dayDiv.classList.add('selected-day');
      }
      dayDiv.addEventListener('click', function() {
        selectedDate = new Date(year, month, day);
        renderCalendar(new Date(year, month));
      });
      calendarDiv.appendChild(dayDiv);
    }

    // 이번 달의 마지막 주의 빈 칸 삽입
    for (let i = lastDayOfMonth + 1; i < 7; i++) {
      const emptyDayDiv = document.createElement('div');
      emptyDayDiv.classList.add('calendar-day');
      calendarDiv.appendChild(emptyDayDiv);
    }
  }
});
</script>
<div layout:fragment="content">
   <div class="title_line">운동 목표

  </div>
 
  <aside class="aside_right">
    <a href="/goals/create">등록</a>
    
  
   
  </aside>


  <div style="width: 100%">

  </div>
    
  <!-- /mh/list_all_component.html 파일의 list_all_fragment import -->
  <div th:replace="~{goals/list_all_component::list_all_fragment}"></div>
  
</div>
</html>







