<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
  <script>
       function formatDate(dateString) {
            const date = new Date(dateString);

            const year = date.getFullYear();
            const month = date.getMonth() + 1; // getMonth()는 0부터 시작하므로 1을 더해야 합니다.
            const day = date.getDate();
            const hours = date.getHours();
            const minutes = date.getMinutes();
            const seconds = date.getSeconds();

            return `${year}년 ${month}월 ${day}일 ${hours}:${minutes}:${seconds}`;
        }
    </script>
<div layout:fragment="content">
   <div class="title_line">운동 목표

  </div>
 
  <aside class="aside_right">
    <a href="/goals/create">등록</a>
    <span class="menu_devide">│</span>
     <a href="/mh/list_all">추천</a>
  </aside>
  
   <div class="menu_line"></div>

<div th:if="${goalsVO != null}">
  <h3> 최근 목표</h3>
  <div class="container mt-3" style="width: 50%; margin: 5px auto;">
    
    

    <div style ="text-align: center" th:text="${goalsVO.gdate}">입력 날짜</div>
    
    
  </div>

     <div style="background-color: #E6E6E7; border-radius: 10px; height: auto; padding: 15px;">
        <div class="row title">
          <div class="column"><span>체중</span></div>
          <div class="column"><span>신장</span></div>
          <div class="column"><span>체지방</span></div>
          <div class="column"><span>골격근량</span></div>
        </div>
        <div class="row">
          <div class="column"><span th:text="${goalsVO.kg + ' kg'}"></span></div>
          <div class="column"><span th:text="${goalsVO.cm + ' cm'}"></span></div>
          <div class="column"><span th:text="${goalsVO.ckg + ' %'}"></span></div>
          <div class="column"><span th:text="${goalsVO.muscle + ' kg'}"></span></div>
        </div>
      </div><br>
    
  
  <!-- /mh/list_all_component.html 파일의 list_all_fragment import -->
  <div th:replace="~{goals/list_all_component::list_all_fragment}"></div>
  
</div>
<div th:unless="${goalsVO != null}">
  
    <h3>저장된 목표가 없습니다 </h3>
      <div th:replace="~{goals/list_all_component::list_all_fragment}"></div>
  </div>

</html>







