<div th:fragment="list_all_fragment"> <!-- <div th:replace=... -->
  
  <script th:inline="javascript">
    function updateGoals(goalsno) {
        // 새 form 엘리먼트 생성
        var form = document.createElement("form");
        form.method = "GET";
        form.action ='/goals/update';
        
        // input 엘리먼트 생성하여 goalsno 값 추가
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "goalsno";
        input.value = goalsno;
        
        // form에 input 엘리먼트 추가 후 form을 body에 추가
        form.appendChild(input);
        document.body.appendChild(form);
        
        // form submit
        form.submit();
    }

    function deleteGoals(goalsno) {
        // 새 form 엘리먼트 생성
        var form = document.createElement("form");
        form.method = "GET";
        form.action ='/goals/delete';
        
        // input 엘리먼트 생성하여 goalsno 값 추가
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "goalsno";
        input.value = goalsno;
        
        // form에 input 엘리먼트 추가 후 form을 body에 추가
        form.appendChild(input);
        document.body.appendChild(form);
        
        // form submit
        form.submit();
    }
    
   
    function readGoals(goalsno) {
        // 새 form 엘리먼트 생성
        var form = document.createElement("form");
        form.method = "POST";
        form.action ='/goals/read';
        
        // input 엘리먼트 생성하여 goalsno 값 추가
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "goalsno";
        input.value = goalsno;
        
        // form에 input 엘리먼트 추가 후 form을 body에 추가
        form.appendChild(input);
        document.body.appendChild(form);
        
        // form submit
        form.submit();
    }
</script>
 <div style="display: flex; justify-content: center;">
  <table class="table table-hover">
    
    
    <colgroup>
      <col style='width: 15%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>
      <col style='width: 10%;'/>    
      <col style='width: 10%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
      <col style='width: 15%;'/>
 
    </colgroup>
    <thead>
      <tr>
        <th class="th_bs">번호</th>
        <th class="th_bs">체중</th>
        <th class="th_bs">신장</th>
        <th class="th_bs">체지방</th>
        <th class="th_bs">골격근량</th>
        <th class="th_bs">회원번호</th>
        <th class="th_bs">등록일</th>
        <th class="th_bs">기타</th>
        

      </tr>
    </thead>
    <tbody>
      <tr th:each="goalsVO, status:${list}">
        <td class="td_bs" th:text="${status.index + 1}"></td>
        <td class="td_bs" th:text="${goalsVO.kg}"></td>
        <td class="td_bs" th:text="${goalsVO.cm}"></td>
        <td class="td_bs" th:text="${goalsVO.ckg}"></td>
        <td class="td_bs" th:text="${goalsVO.muscle}"></td>
        <td class="td_bs" th:text="${goalsVO.memberno}"></td>
        <td class="td_bs" th:text="${goalsVO.gdate.substring(5, 10)}"></td>
  
        <td class="td_bs">
          <img src="/goals/images/read.png" class="icon" th:onclick="'javascript:readGoals(' + ${goalsVO.goalsno} + ')'">    
          <img src="/goals/images/update.png" class="icon" th:onclick="'javascript:updateGoals(' + ${goalsVO.goalsno} + ')'">
          <img src="/goals/images/delete.png" class="icon" th:onclick="'javascript:deleteGoals(' + ${goalsVO.goalsno} + ')'">
   
        <td class="td_bs">
         
        </td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
  
</div>











