<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>관리자</div>

       
     <div style="width: 97%; margin: 0 auto;">   
          <table class="table table-striped" style='width: 100%;'>
            <colgroup>
              <col style='width: 5%;'/>
              <col style='width: 30%;'/>
              <col style='width: 30%;'/>
              <col style='width: 35%;'/>
        
              
            </colgroup>
            <tr>
              <th class='th_bs'></th>
              <th class='th_bs'>ID</th>
              <th class='th_bs'>이름</th>
              <th class='th_bs'>가입일</th>
            </tr>
       
    
        
        <tr th:each="adminVO, status : ${list}">
          <td class='td_basic'>
              <div>
                <div th:if="${adminVO.grade == 0}"><img src='/admin/images/user.png' title="관리자" class="icon"></div>
        
              </div>
          </td>
          <td class='td_basic'><a th:href="@{|./read?adminsno=${adminVO.adminsno}|}" th:text="${adminVO.id}"></a></td>
          <td class='td_basic'><a th:href="@{|./read?adminsno=${adminVO.adminsno}|}" th:text="${adminVO.aname}"></a></td>
          <td class='td_basic' th:text="${adminVO.adate.substring(0, 10)}"></td>
        </tr>
    
          </table>
     </div>

</div>
</html>


