<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
     <div class="container" >        
        <div class='title_line d-flex justify-content-between'>
                <a href="#" onclick="event.preventDefault(); location.href='/admin/list';" class="btn btn-link"><i class="bi bi-caret-left-fill" style="font-size: 20px;"></i></a>
                <span style="margin-top:12px;">관리자 정보</span>
                <a style='font-size:20px; margin-top:10px;' href="/admin/update_form" class="btn btn-link"></a>
        </div>
        <section class="profile mt-3">
              <div class="d-flex justify-content-between border-bottom">
                  <span style="font-size: 20px;">아이디</span>
                  <span style="font-size: 20px;" class="profile-value" th:text="${adminVO.id}"></span>
              </div>
              <div class="d-flex justify-content-between mt-3 border-bottom">
                  <span style="font-size: 20px;">이름(부서)</span>
                  <span style="font-size: 20px;" class="profile-value" th:text="${adminVO.aname}"></span>
              </div>

              <div class="d-flex justify-content-between mt-3 border-bottom">
                  <span style="font-size: 20px;">가입일</span>
                  <span style="font-size: 20px;" class="profile-value" th:text="${adminVO.adate.substring(0, 10)}"></span>
              </div>
  
              <div class="d-flex justify-content-between mt-3 border-bottom">
                  <span style="font-size: 20px;">등급</span>
                  <span style="font-size: 20px;" id="grades" class="add-value">
                    <span style="font-size: 20px;" th:if="${adminVO.grade == 0}" th:text="'super admin'"></span>
                    <span style="font-size: 20px;" th:if="${adminVO.grade == 1}" th:text="'운영관리자'"></span>
                    <span style="font-size: 20px;" th:if="${adminVO.grade == 2}" th:text="'정지'"></span>
                    <span style="font-size: 20px;" th:if="${adminVO.grade == 3}" th:text="'탈퇴'"></span>
                  </span>
              </div>
              
              <div class="d-flex justify-content-between mt-3 border-bottom">
        
            <a style="font-size:20px;;" th:href="@{|/alogin/list?adminsno=${session.adminsno}|}" class="d-block text-right text-success">로그인 내역</a>
              </div>
              
        </section>


  </div>

</body>
</html>

