<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
<script>
    window.onload = () => {
      document.querySelector('#aname').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('tel').focus();
        }
      });
      
      document.querySelector('#tel').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_DaumPostcode').focus();
        }
      }); 
      
      document.querySelector('#address2').addEventListener('keypress', (event) => {
      // document.getElementById('passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      }); 
      
    }
    
    function send() { // 회원 가입 처리
      let mname = document.getElementById('aname');
      let mname_msg = document.getElementById('aname_msg');
  
      if (mname.value.length == 0) {
        mname_msg.innerHTML= '이름 입력은 필수입니다.';
        mname_msg.classList.add('span_warning');    // class 적용
        mname.focus();
  
        return false;  // 회원 가입 진행 중지
      }
  
      document.getElementById('frm').submit(); // required="required" 작동 안됨.
    }    
  </script>


  <div class="title_line">관리자 정보 조회 및 수정(*: 필수) > <span th:text="@{|${adminVO.aname} (${adminVO.id})|}"></span></div>


  <div class='menu_line'></div>
  
  <div style="width: 60%; margin: 0px auto ">
    <form name="frm" id="frm" th:object="${adminVO}" method="post" action="/admin/update">
      <input type="hidden" name="adminsno" th:value="${adminVO.adminsno}">
   
      <div class="form-group">
        <label for="aname">관리자 이름*</label>
        <input type='text' name='aname' id='aname' th:value='${adminVO.aname}' required="required" 
                   placeholder="성명" class="form-control form-control-sm" style="width: 30%;">
        <span id='aname_msg'></span>
      </div>

      
      <div class="form-group">
        <label for="grade">관리자 등급*</label>
        <input type='text' name='grade' id='grade' th:value='${adminVO.grade}' required="required" 
                   placeholder="등급" class="form-control form-control-sm" style="width: 30%;">
        <span id='grade_msg'></span>
      </div>    


      <div class="content_body_bottom">
        <button type="button" onclick="send();" class="btn btn-secondary btn-sm">저장</button>
        <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
      </div>


    </form>
  </div>
    
</div>
</html>

