<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class='title_line'>
    <span th:text="${htcVO.name }" class="title_line_text"></span > 
    > <span th:text="${htcVO.namesub}" class="title_line_text"></span > 
    >  운동 등록
  </div>
  
  <aside class="aside_right">
    <a th:href="@{|./create?htcno=${htcVO.htcno }|}">등록</a>
    <span class='menu_divide' >│</span>
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_htcno_search_paging?htcno=${htcVO.htcno }|}">기본 목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_htcno_grid?htcno=${htcVO.htcno }|}">갤러리형</a>
  </aside>
  
  <div class='menu_line'></div>
  
  <form name='frm' method='post' th:object="${healthVO}" action='./create' enctype="multipart/form-data">
    <input type="hidden" name="htcno" th:value="${param.htcno }">
    
    <div>
       <label>제목</label>
       <input type='text' name='title' value='운동의 모든것' required="required" 
                 autofocus="autofocus" class="form-control" style='width: 100%;'>
    </div>
    <div>
       <label>내용</label>
       <textarea name='explan' required="required" class="form-control" rows="12" style='width: 100%;'>운동 추천 너무 좋아요! </textarea>
    </div>
    <div>
       <label>검색어</label>
       <input type='text' name='word' value='헬스, 추천, 포인트' required="required" 
                 class="form-control" style='width: 100%;'>
    </div>   
    <div>
       <label>이미지</label>
       <input type='file' class="form-control" name='file1MF' id='file1MF' value='' placeholder="파일 선택">
    </div>   
    <div>
       <label>패스워드</label>
       <input type='password' name='passwd' value='1234' required="required" 
                 class="form-control" style='width: 50%;'>
    </div>   
    <div class="content_body_bottom">
      <button type="submit" class="btn btn-secondary btn-sm">등록</button>
      <button type="button" th:attr="onclick=|location.href='./list_by_htcno_search_paging?htcno=${htcno}'|" class="btn btn-secondary btn-sm">목록</button>
    </div>
  
  </form>

</div>


  