<div th:fragment="list_search_fragment"> <!-- <div th:replace=... -->
    <div>
    <form style="text-align: center;" name="frm_search" method="get" action="/health/list_by_htcno" class="form-control">
      <input type="hidden" name="htcno" id="htcno" th:value="${htcVO.htcno}" class="form-control small" style='font-size:xx-small;'>
      
      <input type="text" name="word" id="word" th:value="${word}"  class="form-control small" style='font-size:xx-small;'>
      <button type='submit' class="registration-button">검색</button>
      <span th:if="${word != null and word != ''}">
        <button type='button' class="registration-button"
                     th:onclick="|location.href='/health/list_by_htcno?htcno=${htcVO.htcno}'|">취소</button>
      </span>
                    
    </form>
  </div>
</div>

<style>
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--bs-body-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--bs-body-bg);
    background-clip: padding-box;
    /* border: var(--bs-border-width) solid var(--bs-border-color); */
    border-radius: var(--bs-border-radius);
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
</style>