<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<head>
  <style>
    @media (max-width: 360px) {
      .title_line_text {
        font-size: 14px;
      }
      .table-striped img {
        width: 60px;
        height: 45px;
      }
      .table-striped .td_left {
        font-size: 14px;
      }
      .table-striped th,
      .table-striped td {
        padding: 5px;
      }
      .table-striped th {
        font-size: 14px;
      }
      .table-striped .td_basic {
        vertical-align: top;
      }
    }
  </style>
</head>
<body>
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${htcVO.name}" class="title_line_text"></span >
    > <span th:text="${htcVO.namesub}" class="title_line_text"></span >
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span>
      <a th:href="@{|/health/create?htcno=${htcVO.htcno}|}">
      <img src="/home/insert.png" class="icon" title="등록">
      </a>
      <span class="menu_devide">│</span>    
    </span>

    <a th:href="@{|./list_by_htcno?htcno=${htcVO.htcno }&word=${word }&now_page=${now_page}|}">
    <img src="/home/list.png" class="icon" title="목록형">
    </a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_htcno_grid?htcno=${htcVO.htcno }&word=${word }&now_page=${now_page}|}">
    <img src="/home/gallery.png" class="icon" title="갤러리형">
    </a>
    
  </aside> 
  <!-- /health/list_search_component.html 파일의 list_search_fragment import -->
  <div th:replace="~{health/list_search_component::list_search_fragment}"></div>

     
  <div class='menu_line'></div>

  <!-- Adding a container with margin -->
  <div style="width: 97%; margin: 0 auto;">
    <table class="table table-striped" style='width: 100%;'>
      <colgroup>
        <col style='width: 25%;'/>
        <col style='width: 75%;'/>
      </colgroup>

      <tr>
        <th class='th_bs'>파일</th>
        <th class='th_bs' style="text-align: center;">제목</th>
      </tr>

      <tr th:if="${list.size() > 0}" th:each="healthVO, status:${list}" 
           th:attr="onclick=|location.href='/health/read?healthno=${healthVO.healthno}&word=${word}&now_page=${now_page}'|"
           style="cursor: pointer; height: 90px;">
        <td class='td_basic' style="vertical-align: middle; text-align: center;">
          <div th:if="${healthVO.file1.endsWith('jpg') or healthVO.file1.endsWith('png')  or healthVO.file1.endsWith('gif')}">
            <img th:src="@{|/health/storage/${healthVO.thumb1}|}" style="width: 100%; height: 70px;">
          </div>

          <div th:if="${((healthVO.file1.endsWith('jpg') or healthVO.file1.endsWith('png')  or healthVO.file1.endsWith('gif')) == false) and (healthVO.size1 > 0)}">
            <span th:text="${healthVO.file1}" style="font-size:18px;"></span>
          </div>

          <div th:if="${healthVO.size1 == 0}">
            <img src="/health/images/none1.png" style="width: 100%; height: 70px;">
          </div>
        </td>

        <td class='td_left' style="text-align: center; font-size:17px;">
          <span th:text="${healthVO.title}" style="font-size:18px;"></span>
          <br>
          <span th:if="${healthVO.explan.length() > 160 }" 
                th:text="|${healthVO.explan.substring(0, 160) }...|"></span> 
        </td>

      </tr>

      <tr th:if="${list.size() == 0}">
        <td colspan="3" style="text-align: center; font-size:20px;">관련 글이 등록되지 않았습니다.</td>
      </tr> 
    </table>
  </div>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</body>
</html>
