<div th:fragment="list_search_fragment"> <!-- <div th:replace=... -->
    <div>
    <form style="text-align: center;" name="frm_search" method="get" action="/health/list_by_htcno" class="form-controls">
      <input type="hidden" name="htcno" id="htcno" th:value="${htcVO.htcno}" class="form-controls" style='font-size:xx-small;'>
      
      <input type="text" name="word" id="word" th:value="${word}"  class="form-controls">
      <button type='submit' class="registration-button">검색</button>
      <span th:if="${word != null and word != ''}">
        <button type='button' class="registration-button"
                     th:onclick="|location.href='/health/list_by_htcno?htcno=${htcVO.htcno}'|">취소</button>
      </span>
                    
    </form>
  </div>
</div>
