<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${htcVO.name}" class="title_line_text"></span >
    > <span th:text="${htcVO.namesub}" class="title_line_text"></span >
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/health/create?htcno=${htcVO.htcno}|}">등록</a>
      <span class="menu_devide">│</span>
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
  </aside> 
  
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
        <colgroup>
            <col style='width: 10%;'/>
            <col style='width: 70%;'/>
            <col style='width: 10%;'/>
            <col style='width: 10%;'/>
        </colgroup>

        <tr>
            <th class='th_bs'>파일</th>
            <th class='th_bs' style="text-align: left;">제목/내용/키워드</th>
            <th class='th_bs'>관리자</th>
            <th class='th_bs'>등록일</th>
        </tr>
   
        <tr th:each="healthVO, status:${list}" 
             th:attr="onclick=|location.href='/health/read?healthno=${healthVO.healthno}'|"
             style="cursor: pointer; height: 90px;">
                 <!-- 이미지-->
          <td class='td_basic' style="vertical-align: middle; text-align: center;">
            <div th:if="${healthVO.file1.endsWith('jpg') or healthVO.file1.endsWith('png')  or healthVO.file1.endsWith('gif')}">
              <img th:src="@{|/health/storage/${healthVO.thumb1}|}" style="width: 120px; height: 90px;">
            </div>
      
            <div th:if="${((healthVO.file1.endsWith('jpg') or healthVO.file1.endsWith('png')  or healthVO.file1.endsWith('gif')) == false) and (healthVO.size1 > 0)}">
              <span th:text="${healthVO.file1}"></span>
            </div>
      
            <div th:if="${healthVO.size1 == 0}">
              <img src="/health/images/none1.png" style="width: 120px; height: 90px;">
            </div>             
          </td>
          
                 <!-- 제목/내용/키워드-->
          <td class='td_left'>
              <span th:text="${healthVO.title}" style="font-weight: bold;"></span>
              <br>
              <span th:if="${healthVO.explan.length() > 160 }" 
                  th:text="|${healthVO.explan.substring(0, 160) }...|"></span>
              <span th:if="${healthVO.explan.length() <= 160 }" 
                  th:text="|${healthVO.explan}|"></span>
              <br>
              <span th:text="${healthVO.word}"></span>
                  
          </td>
          
          <td class="td_left" style="text-align: center;">
              <span th:text="${healthVO.adminsno}"></span>
          </td>
          
          <td class="td_left" style="text-align: center;">
              <span th:text="${healthVO.rdate}"></span>
          </td>
        </tr>
  </table>


</div>
</html>

