<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${htcVO.name}" class="title_line_text"></span >
    > <span th:text="${htcVO.namesub}" class="title_line_text"></span >
    <span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>

  <aside class="aside_right">
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/health/create?htcno=${htcVO.htcno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_htcno?htcno=${htcVO.htcno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_htcno_grid?htcno=${htcVO.htcno }&word=${word }&now_page=${now_page}|}">갤러리형</a>    
  </aside> 

  <!-- /health/list_search_component.html 파일의 list_search_fragment import -->
  <div th:replace="~{health/list_search_component::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <div style='width: 100%;'> <!-- 갤러리 Layout  시작 -->
    <div th:if="${list.size() > 0}"  th:each="healthVO, status:${list}" 
         th:attr="onclick=|location.href='/health/read?healthno=${healthVO.healthno}&word=${word}&now_page=${now_page}'|"
         style='width: 24%; height: 190px; float: left; margin: 0.5%; padding: 0.5%; background-color: #EEEFFF; text-align: left; cursor: pointer;'>

      <div th:if="${healthVO.file1.endsWith('jpg') or healthVO.file1.endsWith('png')  or healthVO.file1.endsWith('gif')}"
             style="width: 100%; height: 100px;">
        <img th:src="@{|/health/storage/${healthVO.thumb1}|}" style="width: 100%; height: 100%;">
      </div>

      <div th:if="${((healthVO.file1.endsWith('jpg') or healthVO.file1.endsWith('png')  or healthVO.file1.endsWith('gif')) == false) and (healthVO.size1 > 0)}"
             style="width: 100%; height: 100px;">
        <span th:text="${healthVO.file1}"></span>
      </div>

      <div th:if="${healthVO.size1 == 0}" style="width: 100%; height: 100px;">
        <img src="/health/images/none1.png" style="width: 100%; height: 100%;">
      </div>
      <div>
        <span th:text="${healthVO.title}" style="font-weight: bold;"></span><br>
        <span th:if="${healthVO.explan.length() > 80 }" 
                  th:text="|${healthVO.explan.substring(0, 80) }...|"></span>
        <span th:if="${healthVO.explan.length() <= 80 }" 
                  th:text="|${healthVO.explan}|"></span>
      </div>
      
      <div style="width: 100%; text-align: right;">♡</div>
      
    </div>
    
    <div th:if="${list.size() == 0}" style="text-align: center; padding: 50px 0px;">
      <span>관련 글이 등록되지 않았습니다.</span>
    </div> 
  </div>  <!-- 갤러리 Layout  종료 -->
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>





