<!DOCTYPE html>
<!-- layout.html 상속 -->
<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%;  text-align: center;">


  <style>
    body {
      background-color: #2b2c30;
    }
    .line {
      border: none;
      /* 다른 테두리 스타일을 제거 */
      border-top: 0.01em solid #5f6169;
      /* 위쪽 테두리를 설정하여 선을 만듦 */
    }
    .none_botton {
      background-color: #343a40;
    }
    .account-div {
      cursor: pointer;
      /* 마우스 커서가 손가락 모양으로 변환 */
      transition: background-color 0.3s, color 0.3s;
      /* 배경색과 글자색 변경 시 애니메이션 효과 추가 */
      background: #343a40;
    }
    .account-div:hover {
      background: #5f6169;
      /* 호버 시 배경색 변경 */
      color: black;
    }
  </style>

  <!-- 프로필 상단 계정 아이디, 프로필 상세 보기 -->
  <div style="background-color: white;">
    <div style=" float:left; padding: 10px;">
      <span th:text="|${session.id} ^|" style="margin-left:15px;"></span>
    </div>
    <div style="float:right;  padding: 10px; cursor: pointer;"
      th:attr="onclick=|location.href='/member/read?memberno=${session.memberno}'|">
      <span>프로필 상세 보기</span>
    </div>
    <div style="clear: both;">
    </div>
  </div>
  <br>
  
  
  <div style="text-align: left; margin-left: 15px; font-size: 17px; ">
    <div
      th:if="${memberVO.profile.endsWith('jpg') or memberVO.profile.endsWith('png')  or memberVO.profile.endsWith('gif')}">
      <img th:src="@{|/member/storage/${memberVO.thumbs}|}" class="profile-img"
        style="border-radius: 50%; width:21%; height:30%; margin-right: 17px;">
      <span style="color: white" th:if="${memberVO.nickname != null}" th:text="${memberVO.nickname}"></span>
      <span style="color: white" th:if="${memberVO.nickname == null}" th:text="${session.id}"></span>
    </div>

    <div
      th:if="${((memberVO.profile.endsWith('jpg') or memberVO.profile.endsWith('png')  or memberVO.profile.endsWith('gif')) == false) and (memberVO.sizes > 0)}">
      <span th:text="${memberVO.profile}" style="border-radius: 50%; width:20%; margin-right: 17px;"></span>
      <span style="color: white" th:if="${memberVO.nickname != null}" th:text="${memberVO.nickname}"></span>
      <span style="color: white" th:if="${memberVO.nickname == null}" th:text="${session.id}"></span>
    </div>

    <div th:if="${memberVO.sizes == 0}">
      <img src="/images/none.jpg" class="default-img" style="border-radius: 50%; width:20%; margin-right: 17px;">
      <span style="color: white" th:if="${memberVO.nickname != null}" th:text="${memberVO.nickname}"></span>
      <span style="color: white" th:if="${memberVO.nickname == null}" th:text="${session.id}"></span>
    </div>
  </div>
  
  <div style="text-align: left; margin-top: 14px; margin-left: 8%;">
    <span style="color: white;" th:text="${memberVO.mname}"></span>
  </div>
  <br>


    <div style="background-color: white; padding: 12px; margin-bottom: 10px;">
      <span>프로필</span>
    </div>
    <br>

    <div class="none_botton" style="text-align: left; padding-top: 13px; padding-bottom: 13px;">
      <span style="margin-left: 10px; color: white;">내 계정</span>
    </div>

    <div class="line"></div><!-- 구분선 -->

    <div class="account-div">
      <div style="float:left; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-left: 40px; color: white;">등급</span>
      </div>
      <div style="float:right; margin-right: 40px; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-left: 40px; color: white;"
          th:text="${memberVO.grade == 1 ? '일반회원' : (memberVO.grade == 2 ? '블랙리스트' : (memberVO.grade == 3 ? '탈퇴회원' : '관리자'))}"></span>
      </div>
      <div style="clear: both;">
      </div>
    </div>

    <div class="line"></div><!-- 구분선 -->

    <div class="account-div">
      <div style="float:left; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-left: 40px; color: white; ">포인트</span>
      </div>
      <div style="float:right; margin-right: 40px; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-left: 40px; color: white;" th:text="|${memberVO.point} P|"></span>
      </div>
      <div style="clear: both;">
      </div>
    </div>

    <div class="line"></div><!-- 구분선 -->

    <div class="none_botton" style="text-align: left; padding-top: 13px; padding-bottom: 13px;">
      <span style="margin-left: 10px; color: white; ">정보</span>
    </div>


    <div class="line"></div><!-- 구분선 -->


    <div class="account-div" onclick="location.href='/adcontents/list_cate?cateno=10&word=&now_page=1'">
      <div style=" float: left; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-left: 40px; color: white;">공지 사항</span>
      </div>
      <div style=" float: right;  padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-right:40px; ">
          <i class="bi bi-caret-right-fill" style=" color: white;"></i>
          </spans>
      </div>
      <div style="clear: both;">
      </div>
    </div>



    <div class="line"></div><!-- 구분선 -->

    <div class="account-div">
      <div style=" float: left; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-left: 40px; color: white;">이용 약관</span>
      </div>
      <div style=" float: right; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-right:40px;"><i class="bi bi-caret-right-fill" style="font-size: 15px; color: white;"></i>
          </spans>
      </div>
      <div style="clear: both;">
      </div>
    </div>

    <div class="line"></div><!-- 구분선 -->

    <div class="account-div">
      <div style=" float: left; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-left: 40px; color: white;">개인정보 처리방침</span>
      </div>
      <div style=" float: right; padding-top: 14px; padding-bottom: 14px;">
        <span style="margin-right:40px;"><i class="bi bi-caret-right-fill" style="font-size: 15px; color: white;"></i>
        </spans>
      </div>
      <div style="clear: both;">
      </div>
    </div>

    <div class="line"></div><!-- 구분선 -->

    <div>
      <div>
        <div class="none_botton" style="text-align: left; padding-top: 13px; padding-bottom: 13px;">
          <span style="margin-left: 10px; color: white; ">응원 하기</span>
        </div>

      </div>

      <div class="line"></div><!-- 구분선 -->

      <div class="account-div"
        th:attr="onclick=|location.href='/review/review_insert_form?memberno=${session.memberno}'|">
        <div style=" float: left; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-left: 40px; color: white;">리뷰 작성하기</span>
        </div>
        <div style=" float: right; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-right:40px;"><i class="bi bi-caret-right-fill" style="font-size: 15px; color: white;"></i>
            </spans>
        </div>
        <div style="clear: both;">
        </div>
      </div>

      <div class="line"></div><!-- 구분선 -->

      <div class="account-div" onclick="location.href='/review/review_list_form'">
        <div style=" float: left; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-left: 40px; color: white;">리뷰 목록</span>
        </div>
        <div style=" float: right; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-right:40px;"><i class="bi bi-caret-right-fill" style="font-size: 15px; color: white;"></i>
            </spans>
        </div>
        <div style="clear: both;">
        </div>
      </div>
      
      <div class="line"></div><!-- 구분선 -->

      <div class="account-div" onclick="location.href='/contents/list_cate?cateno=1&word=&now_page=1'">
        <div style=" float: left; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-left: 40px; color: white;">자유게시판</span>
        </div>
        <div style=" float: right; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-right:40px;"><i class="bi bi-caret-right-fill" style="font-size: 15px; color: white;"></i>
            </spans>
        </div>
        <div style="clear: both;">
        </div>
      </div>
    </div>

    <div class="line"></div><!-- 구분선 -->

    <div>
      <div class="none_botton" style="text-align: left; padding-top: 13px; padding-bottom: 13px;">
        <span style="margin-left: 10px; color: white;">계정 관리</span>
      </div>

      <div class="line"></div><!-- 구분선 -->

      <div class="account-div" onclick="location.href='/member/logout'">
        <div style=" float: left; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-left: 40px; color: white;">로그 아웃</span>
        </div>
        <div style=" float: right; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-right:40px;"></spans>
        </div>
        <div style="clear: both;">
        </div>
      </div>

      <div class="line"></div><!-- 구분선 -->

      <div class="account-div" th:attr="onclick=|location.href='/member/delete_form?memberno=${session.memberno}'|">
        <div style=" float: left; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-left: 40px; color: white;">탈퇴 하기</span>
        </div>
        <div style=" float: right; padding-top: 14px; padding-bottom: 14px;">
          <span style="margin-right:40px;"></spans>
        </div>
        <div style="clear: both;">
        </div>
      </div>

      <div class="line"></div><!-- 구분선 -->

    </div>


    <br>
    <br>
    <br>

    <!-- 프로필 기록 이미지 -->
    <!--
    <div style="text-align: left;">
      <div style="margin: 3px;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
      </div>
      <div style="margin: 3px;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
      </div>
      <div style="margin: 3px;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
      </div>
    </div>
    -->
    <!-- 프로필 기록 이미지 -->

    
  </div>
  <!-- layout:fragment 상속 -->

</html>