<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->


    <style>



    

    
    .text-success {
        color: #28a745 !important;
    }
      .profile-img {
            width: 67px;
            border-radius: 50%;
        }
        .default-img {
            width: 67px;
            border-radius: 50%;
        }
    </style>


<div layout:fragment="content">
   
  <div class="container">
      <header class="d-flex justify-content-between align-items-center py-2 border-bottom">
          <a onclick="history.back();" class="btn btn-link"><i class="bi bi-caret-left-fill" style="font-size: 1.3rem;"></i></a>
          <h1 class="h5 mb-0">나의 정보</h1>
          <a href="/member/update_form" class="btn btn-link">수정</a>
      </header>
      <section class="profile mt-3">
          
          
        
              <style>
        .profile-img {
            width: 95px;
            height: 95px;
            border-radius: 30%; /* 둥근 모서리 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
            /*margin-right: 10px;*/ /* 오른쪽 여백 */
            margin-bottom: 30px;
        }
        .default-img {
            width: 95px;
            height: 95px;
            border-radius: 30%; /* 원형 모서리 */
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 */
            margin-bottom: 30px;
        }
    </style>
          
          
          
          
          
          
          
          
          
    <div style="float:left; width:30%;">
        <div th:object="${memberVO}">
            <div th:if="${memberVO.profile.endsWith('jpg') or memberVO.profile.endsWith('png')  or memberVO.profile.endsWith('gif')}">
                <img th:src="@{|/member/storage/${memberVO.thumbs}|}" class="profile-img">
            </div>
    
            <div th:if="${((memberVO.profile.endsWith('jpg') or memberVO.profile.endsWith('png')  or memberVO.profile.endsWith('gif')) == false) and (memberVO.sizes > 0)}">
                <span th:text="${memberVO.profile}"></span>
            </div>
    
            <div th:if="${memberVO.sizes == 0}">
                <img src="/images/none.jpg" class="default-img">
            </div>
        </div>
    </div>    
    <div style="float:right; background-color: white; border-radius: 7px; padding: 4px; width:70%;">
        <div style="background-color: black; border-radius: 7px; padding:7px;">
            <div class="d-flex justify-content-around">
                <span class="insta">0</span>
                <span class="insta">12</span>
                <span class="insta">13</span>
            </div>
            <div class="d-flex justify-content-around">
                <span class="insta">게시글</span>
                <span class="insta">팔로우</span>
                <span class="insta">팔로잉</span>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>아이디</span>
              <span class="profile-value" th:text="${memberVO.id}"></span>
          </div>
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>이름</span>
              <span class="profile-value" th:text="${memberVO.mname}"></span>
          </div>
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>닉네임</span>
              <span class="profile-value" th:text="${memberVO.nickname}"></span>
          </div>
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>휴대폰 번호</span>
              <span class="profile-value" th:text="${memberVO.tel}"></span>
          </div>

          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>주소</span>
              <span class="profile-value" th:text="${memberVO.address1}"></span>
          </div>
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>상세주소</span>
              <span class="profile-value" th:text="${memberVO.address2}"></span>
          </div>
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>가입일</span>
              <span class="profile-value" th:text="${memberVO.mdate.substring(0, 10)}"></span>
          </div>
      </section>
      <section class="add mt-3">
          <h2 class="h6"></h2>
          <div th:if="${memberVO.grade==1}" class="d-flex justify-content-between py-2 border-bottom">
              <span>등급</span>
              <span class="add-value">일반회원</span>
          </div>
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>포인트</span>
              <span class="add-value" th:text="|${memberVO.point} P|"></span>
          </div> 
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>생년월일</span>
              <span class="add-value" th:text="${memberVO.birth}"></span>
          </div>
          <div class="d-flex justify-content-between py-2 border-bottom">
              <span>성별</span>
              <span th:text="${memberVO.sex}">남자</span>
          </div>

      </section>
      <section class="login-history mt-3">
          <a th:href="@{|/mlogin/mlogin_insert_form?memberno=${session.memberno}|}" class="d-block text-right text-success">로그인 내역</a>
      </section>
  </div>

</div>

</html>