<div th:fragment="list_all_fragment"> <!-- <div th:replace=... -->
  
    <style>
  .row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;
        }

        .column {
            flex: 1;
            text-align: center;
            font-size: 14px;
        }

        .column span {
            display: block;
        }

        .title {
            font-weight: bold;
        }

  </style>
  <script th:inline="javascript">
    
    

    function deleteFoodcate(foodcateno) {
        // 새 form 엘리먼트 생성
        var form = document.createElement("form");
        form.method = "POST";
        form.action ='/foodcate/delete';
        
        // input 엘리먼트 생성하여 foodcateno 값 추가
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "foodcateno";
        input.value = foodcateno;
        
        // form에 input 엘리먼트 추가 후 form을 body에 추가
        form.appendChild(input);
        document.body.appendChild(form);
        
        // form submit
        form.submit();
    }
    
    function readFoodcate(foodcateno) {
        // 새 form 엘리먼트 생성
        var form = document.createElement("form");
        form.method = "POST";
        form.action ='/foodcate/read';
        
        // input 엘리먼트 생성하여 foodcateno 값 추가
        var input = document.createElement("input");
        input.type = "hidden";
        input.name = "foodcateno";
        input.value = foodcateno;
        
        // form에 input 엘리먼트 추가 후 form을 body에 추가
        form.appendChild(input);
        document.body.appendChild(form);
        
        // form submit
        form.submit();
    }
  </script>
  
      <div class="menu_line"></div>
  <div style="margin: 1em;">
    
        <h3>식단 카테고리</h3>
    <div th:each="foodcateVO, status:${list}">
      <div class="delete-container" style="display: flex;">
        <span th:text="${foodcateVO.fdate.substring(0, 10)}"></span>
        <div style="display: block; margin-left: auto; margin-bottom:3px;">
           <span th:onclick="'javascript:readFoodcate(' + ${foodcateVO.foodcateno} + ')'"
            style="color: white; font-size: 13px; background-color: skyblue; padding: 3px; border-radius: 7px;">확인</span>&nbsp;&nbsp;
          <span th:onclick="'javascript:deleteFoodcate(' + ${foodcateVO.foodcateno} + ')'" style="color: white; font-size: 13px; background-color: red; padding: 3px; border-radius: 7px;">삭제</span>
          
          <input class="foodcateno" type="hidden" th:value="${foodcateVO.foodcateno}">
   
        </div>
      </div>
      <div style="background-color: rgb(192, 192, 192); border-radius: 10px; height: auto; padding: 15px;">
        <div class="row title">
          <div class="column"><span>번호</span></div>
          <div class="column"><span>이미지</span></div>
          <div class="column"><span>식품코드</span></div>
    
        </div>
        <div class="row">
          <div class="column"><span th:text="${foodcateVO.foodcateno + '번'}"></span></div>
       
          <div class="column">
              
              <img th:src="@{'/foodcate/images/' + ${foodcateVO.thumb}}" style="width: 50px; height: 40px;">
               
          </div>           
          <div class="column"><span th:text="${foodcateVO.foodcode}"></span></div>
        </div>
      </div><br>
    </div>
    
  </div>
    
    <!-- 페이지 버튼 목록 출력 시작 -->
    <div class="Bottom_menu" th:utext="${paging}"></div>
    <!-- 페이지 버튼 목록 출력 종료 --> 
  </div>
</div>