<div th:fragment="list_all_fragment">
  <style>
    .login_btn {
      margin-top: 5px;
      justify-content: center;
      display: flex;
      gap: 10px; /* 버튼 간격 추가 */
    }
    .form-wrapper {
      display: flex;
      justify-content: center; /* 수평 가운데 정렬 */
      width: 98%;
    }
    .table-wrapper {
      width: 97%;
      margin: 0px auto;
      font-size: 20px;  
      color: rgb(255, 0, 0);
      justify-content: space-between;
    }
    .form-group {
      position: relative;
      width: 100%;
    }
    #btn_checkID {
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
    }
    .table {
      width: 100%;
      margin-bottom: 1rem;
      color: #212529;
      border-collapse: collapse;
    }
    .table-hover tbody tr:hover {
      color: #212529;
      background-color: rgba(0, 0, 0, 0.075);
    }
    .table thead th {
      vertical-align: bottom;
      border-bottom: 2px solid #dee2e6;
      text-align: center; /* 중앙 정렬 */
    }
    .table tbody td {
      text-align: center; /* 중앙 정렬 */
      font-size: 14px; /* 글꼴 크기 */
      border-top: 1px solid #dee2e6;
    }
  </style>
  <table class="table table-hover table-wrapper">
    <thead>
      <tr>
        <th class="th_bs">번호</th>
        <th class="th_bs">대분</th>
        <th class="th_bs">소분</th>
        <th class="th_bs">등록일</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="htcVO, status : ${list}">
        <td class="td_bs" th:text="|${no - status.index}|"></td>
        <td class="td_bs">
          <a th:href="@{|/htc/read/${htcVO.htcno}?word=${word}&now_page=${now_page}|}" style="display: block; font-size:14px;" th:text="${htcVO.name}"></a>
        </td>
        <td class="td_bs">
          <a th:href="@{|/htc/read/${htcVO.htcno}?word=${word}&now_page=${now_page}|}" style="display: block; font-size:14px;" th:text="${htcVO.namesub}"></a>
        </td>
        <td class="td_bs" th:text="${htcVO.rdate.substring(0, 10)}"></td>
      </tr>
    </tbody>
  </table>
  
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="Bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 
  
</div>
