<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <style>

    /* 추가된 스타일 */
    .list-group-item {
      font-size: 16px; /* 리스트 아이템 글꼴 크기 조정 */
      padding: 10px; /* 리스트 아이템 패딩 조정 */
    }
    .list_text {
      font-size: 16px; /* 리스트 아이템 글꼴 크기 조정 */

    }
    .container ul {
      list-style-type: none; /* 리스트 스타일 제거 */
      padding: 0;
    }
    .container ul li {
      display: flex;
      justify-content: space-between; /* 항목 사이에 공간 추가 */
      border-bottom: 1px solid #ddd; /* 항목 간 구분선 추가 */
    }
  </style>
  <div class="title_line">조 회-
    <span th:text="${htcVO.name}" class="title_line_text"></span >
    
    <span th:if="${htcVO.namesub != '-'}" th:text="' > ' + ${htcVO.namesub}" class="title_line_text"></span>
  </div>
  <aside class="aside_right">
      <td class="td_bs">
      <a th:href="@{|/htc/list_search?word=${word}&now_page=${now_page}|}"><img src="/htc/animation/list.gif" class="icon" title="목 록"></a>
      <span th:if="${htcVO.visible == 'Y'}">
        <a th:href="@{|/htc/update_visible_n/${htcVO.htcno}?word=${word}&now_page=${now_page}|}"><img src="/htc/animation/open.gif" class="icon" title="공 개"></a> <!-- /static/htc/images/show.png -->
      </span>
      <span th:unless="${htcVO.visible == 'Y'}">
        <a th:href="@{|/htc/update_visible_y/${htcVO.htcno}?word=${word}&now_page=${now_page}|}"><img src="/htc/animation/private.gif" class="icon" title="비공개"></a> <!-- /static/htc/images/hide.png -->
      </span>          
      <a th:href="@{|/htc/update_seqno_forward/${htcVO.htcno}?word=${word}&now_page=${now_page}|}"><img src="/htc/animation/up.gif" class="icon" title="높임"></a>
      <a th:href="@{|/htc/update_seqno_backward/${htcVO.htcno}?word=${word}&now_page=${now_page}|}"><img src="/htc/animation/down.gif" class="icon" title="낮 춤"></a>
      <a th:href="@{|/htc/update/${htcVO.htcno}?word=${word}&now_page=${now_page}|}"><img src="/htc/animation/edit.gif" class="icon" title="수 정"></a>
      <a th:href="@{|/htc/delete/${htcVO.htcno}?word=${word}&now_page=${now_page}|}"><img src="/htc/animation/delete.gif" class="icon" title="삭 제"></a>
      </td>
  </aside>
  <div class="menu_line"></div>
  
  <div class="container" style="width: 100%; margin: 0px auto;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">번호: <span class="list_text" th:text="${htcVO.htcno}"></span></li>
      <li class="list-group-item">대분: <span class="list_text" th:text="${htcVO.name}"></span></li>
      <li class="list-group-item">소분: <span class="list_text" th:text="${htcVO.namesub}"></span></li>
      <li class="list-group-item">자료: <span class="list_text" th:text="${htcVO.cnt}"></spanclass="list_text"></li>
      <li class="list-group-item">등록: <span class="list_text" th:text="${htcVO.rdate}"></span></li>
      <li class="list-group-item">순서: <span class="list_text" th:text="${htcVO.seqno}"></span></li>
      <li class="list-group-item">모드: <span class="list_text" th:text="${htcVO.visible}"></span></li>
    </ul>  
  </div>
</div>
</html>



