<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
   <div class="title_line">
   회원 건강 정보
   >
   운동 목표
  </div>
  
    <style>
  .row {
            display: flex;
            justify-content: space-between;
            width: 100%;
            max-width: 600px;
        }

        .column {
            flex: 1;
            text-align: center;
            font-size: 14px;
        }

        .column span {
            display: block;
        }

        .title {
            font-weight: bold;
        }

  </style>
  
  <aside class="aside_right">
    <a href="/goals/create">목표 등록</a>
     <span class="menu_devide">│</span>
     <a href="/mh/list_all">건강 정보</a>
    

  </aside>
 <div class="menu_line"></div>
    <div th:if="${mhVO != null}">
      <h3>현재 정보</h3>
      <div class="container mt-3" style="width: 50%; margin: 5px auto;">
        <div style ="text-align: center" th:text="${mhVO.insertdate}">입력 날짜</div>
    
    
  </div>
        
           <div style="background-color: #E6E6E7; border-radius: 10px; height: auto; padding: 15px;">
        <div class="row title">
          <div class="column"><span>체중</span></div>
          <div class="column"><span>신장</span></div>
          <div class="column"><span>체지방</span></div>
          <div class="column"><span>골격근량</span></div>
        </div>
        <div class="row">
          <div class="column"><span th:text="${mhVO.kg + ' kg'}"></span></div>
          <div class="column"><span th:text="${mhVO.cm + ' cm'}"></span></div>
          <div class="column"><span th:text="${mhVO.ckg + ' %'}"></span></div>
          <div class="column"><span th:text="${mhVO.muscle + ' kg'}"></span></div>
        </div>
      </div><br>
        
        
        
        
      </div>





  <div th:unless="${mhVO != null}" style="text-align: center;">
    <br>
    <br>
    <span style="font-size: 17px;">지정된 정보가 없습니다.</span>
    <br>
    <br>
    <br>
  </div>

  
  
  <div class='menu_line'></div>
  <br>
  <div style="margin: 1em;">
    <h3>목표</h3>
    <div th:each="goalsVO, status:${list}">
      <div class="delete-container" style="display: flex;">
        <span th:text="${goalsVO.gdate.substring(0, 10)}"></span>
        <div style="display: block; margin-left: auto; margin-bottom:3px;">
           <a th:href="@{http://localhost:5000/healthrecom/create/{goalsno}/{mhno}(goalsno=${goalsVO.goalsno}, mhno=${mhVO.mhno})}"
            style="color: white; font-size: 13px; background-color: skyblue; padding: 3px; border-radius: 7px;">운동 추천</a>&nbsp;&nbsp;
          <a th:href="@{http://localhost:5000/foodrecom/create/{goalsno}/{mhno}(goalsno=${goalsVO.goalsno}, mhno=${mhVO.mhno})}"
            style="color: white; font-size: 13px; background-color: skyblue; padding: 3px; border-radius: 7px;">식단 추천</a>
          
          <input class="goalsno" type="hidden" th:value="${goalsVO.goalsno}">
   
        </div>
      </div>
      <div style="background-color: rgb(192, 192, 192); border-radius: 10px; height: auto; padding: 15px;">
        <div class="row title">
          <div class="column"><span>체중</span></div>
          <div class="column"><span>신장</span></div>
          <div class="column"><span>체지방</span></div>
          <div class="column"><span>골격근량</span></div>
        </div>
        <div class="row">
          <div class="column"><span th:text="${goalsVO.kg + ' kg'}"></span></div>
          <div class="column"><span th:text="${goalsVO.cm + ' cm'}"></span></div>
          <div class="column"><span th:text="${goalsVO.ckg + ' %'}"></span></div>
          <div class="column"><span th:text="${goalsVO.muscle + ' kg'}"></span></div>
        </div>
      </div><br>
    </div>
    
  <div th:unless="${goalsVO != null}" style="text-align: center;">

    <br>
    <br>
    <span style="font-size: 17px;">저장된 정보가 없습니다.</span>
    <br>
    <br>
    <br>
 
  </div>
    
  </div>
  
  
  
  
  

</div>
</html>







