<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line" style="text-align: center; margin-bottom: 20px;">회원 건강 등록</div>
  <div class="form-wrapper" style="width: 100%; display: flex; justify-content: center; align-items: center; height: 100vh;">
    <form kg="frm" th:object="${mhVO}" method="post" action="/mh/create" style="width: 50%;">
      
      <div class="form-group" style="margin-top: 5px; text-align: center;">
        <label style="display: block; margin-bottom: 5px;">체중</label>
        <input type="text" name="kg" value="" autofocus="autofocus"
               class="form-control form-control-sm" style="width: 100%; margin: 0 auto; font-size: x-large;" th:field="*{kg}" required="required" placeholder="체중(kg)">
        <div th:if="${#fields.hasErrors('kg')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err : ${#lists.sort(#fields.errors('kg'))}" th:text="${err}"></div>
        </div>  
      </div>
      
      <div class="form-group" style="margin-top: 5px; text-align: center;">
        <label style="display: block; margin-bottom: 5px;">체지방</label>
        <input type="text" name="ckg" value="" autofocus=""
               class="form-control form-control-sm" style="width: 100%; margin: 0 auto; font-size: x-large;" th:field="*{ckg}" required="required" placeholder="체지방(kg)">
        <div th:if="${#fields.hasErrors('ckg')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err : ${#lists.sort(#fields.errors('ckg'))}" th:text="${err}"></div>
        </div>  
      </div>
      
      <div class="form-group" style="margin-top: 5px; text-align: center;">
        <label style="display: block; margin-bottom: 5px;">신장</label>
        <input type="text" name="cm" value=""
               class="form-control form-control-sm" style="width: 100%; margin: 0 auto; font-size: x-large;" th:field="*{cm}" required="required" placeholder="신장(cm)">
        <div th:if="${#fields.hasErrors('cm')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err : ${#lists.sort(#fields.errors('cm'))}" th:text="${err}"></div>
        </div>             
      </div>
      
      <div class="form-group" style="margin-top: 5px; text-align: center;">
        <label style="display: block; margin-bottom: 5px;">골격근량</label>
        <input type="text" name="muscle" value="" autofocus=""
               class="form-control form-control-sm" style="width: 100%; margin: 0 auto; font-size: x-large;" th:field="*{muscle}" required="required" placeholder="골격근량(kg)">
        <div th:if="${#fields.hasErrors('muscle')}" class="alert alert-danger" role="alert" style="margin-top: 5px;">
          <div th:each="err : ${#lists.sort(#fields.errors('muscle'))}" th:text="${err}"></div>
        </div>  
      </div>
      
      <div class="content_body_bottom" style="text-align: center; margin-top: 20px;">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="button" onclick="location.href='./list_all'" class="btn btn-secondary btn-sm">목록</button>
      </div>
    </form>  
  </div>
  
  <!-- /mh/list_all_component.html 파일의 list_all_fragment import -->
  <div th:replace="~{mh/list_all_component::list_all_fragment}"></div>
</div>
</html>