<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
  <div layout:fragment="content" style="width: 80%; margin: 50px auto; text-align: center;">
    <div class='title_line'>분석 결과 조회[변수 1개 컬럼 챠트]</div>  
    <div id="chart_div" style='height: 500px;'></div>
    
    <script type="text/javascript">
      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the column chart, passes in the data and
      // draws it.
      function drawChart() {

        // Create the data table.
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales'],
          ['2014',  1000],
          ['2015',  1170],
          ['2016',  660],
          ['2017',  1030]
        ]);

        // Set chart options
        var options = {
          title: 'Company Performance',
          hAxis: {title: 'Year', titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
  </div>
  
</html>
