<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속 -->
  <div layout:fragment="content" style="width: 80%; margin: 50px auto; text-align: center;">
     <div class='title_line'>분석 결과 조회[시간 컬럼 챠트 데이터]</div>
      
     <div id="chart_div" style='height: 500px;'></div>
     
     <script>
      google.charts.load('current', {packages: ['corechart', 'bar']});
      google.charts.setOnLoadCallback(drawBasic);
      
      function drawBasic() {
      
            let data = new google.visualization.DataTable();
            data.addColumn('timeofday', 'Time of Day'); // timeofday: 1 ~ 24 시간, 분, 초
            data.addColumn('number', '[[${legend}]]');
            
            let chart_data = `[[${chart_data}]]`;
            console.log('-> chart_data: ' + chart_data);
            chart_data = chart_data.replace(/&#39;/g, "'");
            console.log('-> chart_data: ' + chart_data);
            
            // chart_data = JSON.parse(chart_data); // ERROR
            chart_data = eval(chart_data); // 문자열 -> 자바스크립트 코드로 변경
            data.addRows(chart_data);
      
            let options = {
              title: '[[${title}]]',
              hAxis: {
                title: '[[${xlabel}]]',
                format: 'h:mm a',
                viewWindow: {
                  min: [7, 30, 0],
                  max: [17, 30, 0]
                }
              },
              vAxis: {
                title: '[[${ylabel}]]'
              }
            };
      
            var chart = new google.visualization.ColumnChart(
              document.getElementById('chart_div'));
      
            chart.draw(data, options);
          }
     </script>
  </div>
  
</html>
