<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>운동 목표 설정 및 식단 추천</title>
</head>
<body>
  <div style="margin: 10px auto; width: 90%;">
    <h3>운동 목표 설정 및 식단 추천</h3>
    <form id="recomForm" action="/foodrecom/create" method="POST">
      <input type="hidden" id="goalsno" name="goalsno" value="{{ goalsno }}">
      <input type="hidden" id="mhno" name="mhno" value="{{ mhno }}">
      <button type="button" id="register" class="btn btn-primary btn-sm">등록</button>
      <button type="button" id="list" onclick="window.location.href='http://localhost:9093/foodrecom/list_all'" class="btn btn-primary btn-sm">목록</button>
    </form>
    <div id="result_animation" style="margin-top: 10px; width: 100%; height: 50px; text-align: center; display: none;">
      <img id="progress" src="/static/images/progress.gif" style="width: 50px; height: 50px;" alt="progress">
    </div>
    <textarea id="result" style="margin-top: 10px; width: 100%; height: 300px; display: none;"></textarea>
  </div>

  <script>
    window.onload = () => {
      const registerButton = document.getElementById('register');
      const resultAnimationTag = document.getElementById('result_animation');
      const resultTag = document.getElementById('result');

      registerButton.addEventListener("click", async function() {
        // 결과 표시 영역 초기화
        resultTag.style.display = 'none';

        // 진행 중 애니메이션을 표시합니다.
        resultAnimationTag.style.display = 'block';

        // 폼 데이터를 가져옵니다.
        const formData = new FormData(document.getElementById('recomForm'));

        // 데이터를 POST 요청으로 서버에 보냅니다.
        fetch("/foodrecom/create", {
          method: "POST",
          body: formData
        })
        .then((response) => response.json())
        .then((data) => {
          // 결과 데이터를 표시합니다.
          resultTag.value = JSON.stringify(data, null, 2); // JSON 데이터를 보기 좋게 출력
          resultAnimationTag.style.display = 'none'; // 애니메이션을 숨깁니다.
          resultTag.style.display = 'block'; // 결과를 표시합니다.
          
          
        });
      });
    }
  </script>
</body>
</html>