    /* ver 2.3 2024_0322 */
  /*폰트 선언*/
  
    @font-face {
      font-family: 'TTHakgyoansimMonggeulmonggeulR';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_keris@1.0/TTHakgyoansimMonggeulmonggeulR.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }
  @font-face {
    font-family: 'WagleWagle';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2301-wagle@1.0/WagleWagle.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
    font-family: 'Ownglyph_meetme-Rg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/Ownglyph_meetme-Rg.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
  /* 모든 태그에 적용 */
  *{
     font-family: TTHakgyoansimMonggeulmonggeulR; 
     font-size: 30px; 
     margin: 0px;  /* top right bottom left */
     padding: 0px;
     color: rgb(0, 0, 0);
  } 
  
  .container_top {
    width: 98%; 
    margin: 1px auto;
    
  } 
     .top_menu {
      margin-top: 100px;
    }
    .top_navigation {
    
      position: fixed;
      top: 0px;
      padding: 0;
      width: 98%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-between;
      padding: 1px 0;
      box-shadow: 0 4px 3px  rgb(128, 255, 255), 0 6px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
      border: 1px solid #999;
      font-size: 8px; /* 글자 크기 조정 */
    }
     
    .top_navigation a {
      text-align: center;
      cursor: pointer; /* 포인터 커서로 변경 */
    }
    .top_navigation a span {
      display: block;
      margin-top: 0px; /* 아이콘과 글자 사이의 간격 조정 */
      font-size: 14px; /* 텍스트 크기 변경 */
    }
    .top_navigation .bi {
      font-size: 1.2rem; /* 아이콘 크기 */
    }
    .top_navigation a:hover {
      color: rgb(128, 255, 255); /* 호버 시 색상 변경 */
    }
    .top_icon{
      width: 30px;
    }
    .offcanvas_icon{
    width: 40px;
    }



  

  .top_menu_label {
    font-family: 'WagleWagle';
    position: relative; /* 속해 있는 부모 태그 기준 설정 */
    top: 1%;
    left: 0.5%;
    color: rgb(255, 128, 128);
    padding: 20px;
    text-align: center;
    font-size:2em;
  }
  

  
  /* 화면 상단 메뉴 세로 구분선
     <span class='top_menu_sep'>&nbsp;</span> */
  .top_menu_sep { 
    background: url('/css/images/gray.jpg') center center no-repeat;
    background-size: 1px;
    width:1px;
    margin-left: 5px;
    margin-right: 5px;
    
  }
  
  .menu_line {
    text-align: left;
    width: 90%;
    border-bottom: dotted 1px rgb(255, 0, 0);

    clear: both;
    font-size: 10px; /* 폰트 크기 */ 
    margin-top: -40px;
    margin: 20px auto;
    display: flex;
  }
  

  .search_nav{
    background-color: transparent; /* 버튼 배경색을 투명으로 설정 */
    color: none; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    margin: 10px 0px 2px 15px; /* top -> right -> bottom -> left */
    padding: none; /* 내부 여백 */
    border-radius: none; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 커서 모양 변경 */
    font-size: 20px; /* 폰트 크기 */
  }
  .search_emoticon{
    margin-right:5px;
    width: 40px; 
     
 }

  .icon{
    width: 25px;
  }
  
  .main_emoticon{
     width: 40px;    
  }
  .main_line_emoticon{
     width: 30px;    
  }
  .member_emoticon{
     width: 30px;    
  }
  .main_all_emoticon{
     width: 40px;    
  }
  .save_emoticon{
    width: 40px;
    background-color: transparent; /* 버튼 배경색을 투명으로 설정 */
    color: none; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    
  }
   .all_update{
    width: 25px;
    background-color: transparent; /* 버튼 배경색을 투명으로 설정 */
    color: none; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    
  }
  .login_emoticon{
     width: 50px;
  }
  .logout_emoticon{
     width: 50px;
  }
  .delete_emoticon{
     width: 60px;
  }
  
  .registration{/*등록*/
     width: 25px;
  }
.registration-button {
    background-color: transparent; /* 버튼 배경색을 투명으로 설정 */
    color: none; /* 텍스트 색상 */
    border: none; /* 테두리 없음 */
    padding: none; /* 내부 여백 */
    border-radius: none; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 커서 모양 변경 */
    font-size: 16px; /* 폰트 크기 */
   
}
  
  .left_menu {
    width: 15%;
    float: left;
  }
  
  .content {
    width: 90%;
    margin: 10px auto;
  }
  
  .content_body {
    width: 100%;
    margin: 10px auto;
  }
  
  /* 화면 내용 하단 메뉴 우측 배치 */
  .content_body_bottom {
    clear: both;
    padding-top: 5px;
    padding-right: 10px auto;
    padding-bottom: 5px;
    text-align: left;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
  
  .content_bottom {
    width: 98%;
    margin: 1px auto;
  }
      .bottom_menu {
      margin-top: 100px;
    }
    .navigation {
      position: fixed;
      bottom: 0px;
      position: fixed;
      padding: 0;
      width: 98%;
      background-color: rgb(255, 255, 255);
      display: flex;
      justify-content: space-around;
      padding: 1px 0;
      box-shadow: 0px 2px 4px 7px rgb(128, 255, 255), 0 6px 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
      border: 1px solid #999;
      font-size: 9px; /* 글자 크기 조정 */
    }
    .navigation a {
      text-align: center;
      cursor: pointer; /* 포인터 커서로 변경 */
    }
    .navigation a span {
      display: block;
      margin-top: -8px; /* 아이콘과 글자 사이의 간격 조정 */
      font-size: 12px; /* 텍스트 크기 변경 */
    }
    .navigation .bi {
      font-size: 1.2rem; /* 아이콘 크기 */
    }
    .navigation a:hover {
      color: rgb(0, 255, 255); /* 호버 시 색상 변경 */
    }
    .bottom_icon{
      width: 25px;
    }
  


  .aside_left {
    float: left;
    font-size: 1.3em;
  }
  
  /** 본래의 A 태그의 크기를 제거하고 부모의 가변 크기를 사용 */
  .aside_left A {
    font-size: 1.0em;
  }
  
  .aside_right {
    float: right;
    font-size: 0.9em; /* 부모 글꼴 크기 대비 90%로 출력 */
  }

  .aside_right A {
    font-size: 1.0em;
  }
    
    /* ASIDE 메뉴 세로 구분선 */
  .menu_divide { /* 서브 메뉴의 세로 구분선 */
    color: #777777;
    font-size: 0.8em; /* 부모 글자 크기에 비해서 80%로 출력 */
    vertical-align: 10%;  /* 0%는 bottom 기준 */
    margin-top: 10px;
  }
  
  .copyright {
    margin-top: 10px;
    border-top: solid 1px rgb(255, 0, 255);
    text-align: center; 
    clear: both;  /* 앞쪽 태그의 float 효과를 제거함. */    
  }
  
  .li_none {
    list-style: none;
    margin: 1px 1px 1px 1px;
    font-size: 20px;
  }

  .li_none_left {
    text-align: left;
    list-style: none;
    margin: 15px 10px;
  }
  
  .li_warning { /* 경고 메시지 */
    list-style: none;
    margin: 15px 10px;
    color: #FF6600;
  }
  
  .li_error { /* 에러 메시지 */
    list-style: none;
    margin: 15px 10px;
    color: #FF0000;
  }
  
  .li_right {
    text-align: right;
    list-style: none;
    margin: 20px auto;
    padding-right: 20px;
  }
    
  .fieldset_basic {
    width: 90%; 
    margin: 5px auto; 
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: none;
    padding: 10px;
  }
  
  .legend_basic {
    margin-left: 30px; 
    border: solid 1px pink; 
    background-color: #A6C2FF; 
    color: #FFFFFF;
  }
  
  .input_basic {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px pink;
    border-left: none;
    padding-left: 2px;
  }
  
  .textarea_basic {
    border-top: solid 1px #999999;
    border-right: solid 1px #999999;
    border-bottom: solid 1px #999999;
    border-left: solid 1px #999999;
    padding-left: 2px;
  }
  
  .title_line {
    text-align: left;
    border-bottom: solid 3px rgb(128, 0, 0);
    width: 90%;
    margin-top: -30px;
    margin: 0px auto;
    font-size: 20px;  
    color: rgb(255, 0, 0);
    
    display: flex;
  }
    .member_title_line {
    text-align: left;
    width: 100%;
    margin-top: -30px;
    margin: 0px auto;
    font-size: 20px;  
    color: rgb(0, 0, 0);
    
    display: flex;
  }
      .review_title_line {
    text-align: left;
    border-bottom: solid 1px rgb(128, 0, 0);
    width: 100%;
    margin-top: -30px;
    margin: 0px auto;
    font-size: 20px;  
    color: rgb(0, 0, 0);
    
    display: flex;
  }

  .title_line_text {
   font-size: 20px; 
    color: rgb(0, 0, 0);  
  }
  .line_text {
    font-size: 20px;
    color: rgb(255, 128, 192);  
  }
    .line_text1 {
    font-size: 20px;
    color: rgb(128, 0, 255);  
  }
    
  .title_link:link{  /* 방문전 상태 */
    font-size: 20px;    
    text-decoration: none; /* 밑줄 삭제 */
  }

  .title_link:visited{  /* 방문후 상태 */
    font-size: 20px;
    text-decoration: none; /* 밑줄 삭제 */
  }

  .title_link:hover{  /* A 태그에 마우스가 올라간 상태 */
    font-size: 20px;
    text-decoration: none; /* 밑줄 삭제 */
  }

  .title_link:active{  /* A 태그를 클릭한 상태 */
    font-size: 20px;
    text-decoration: none; /* 밑줄 삭제 */
  }



  
  
  .sub_menu {
    text-align: right;
    width: 100%;
  }
  
  .table_basic {
    border-collapse: collapse;
    margin: 2px auto;
    width: 100%;
  }
  
  /* 1em 기본값 : 16px, 주변 태그의 글자크기를 1em으로 인식
      DIV 태그가 20px 일경우 자식태그가 0.5em이면 최종적으로 10px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1em이면 최종적으로 20px이 적용됨.
      DIV 태그가 20px 일경우 자식태그가 1.5em이면 최종적으로 30px이 적용됨.
  */
  .th_basic {
    font-size: 0.8em;
    border-bottom: solid 3px rgb(255, 255, 255); 
  }
  
  .th_bs {
    text-align: center;
    font-size: 20px;
    
  }
  
  .td_basic {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    border-left: none;
    text-align: center;
    font-size: 20px;
  }
  
  .td_left {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px rgb(255, 255, 255);
    border-left: none;
    text-align: left;
  }

  
  .td_bs_left {
    text-align: left;
    vertical-align: middle;
  }
  
  a:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }

  a:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: #555555;
  }
  
  a:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: pink;
  }
  
  
  a:active{  /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: rgb(255, 0, 128);
  }

  .menu_link:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: rgb(255, 128, 192);
  }

  .menu_link:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: rgb(255, 128, 192);
  }

  .menu_link:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: rgb(255, 255, 255);
  }

  .menu_link:active{  /* A 태그를 클릭한 상태 */
    text-decoration: underline; /* 밑줄 출력 */
    color: white;
  }
  
  .recom_link:link{  /* 방문전 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: rgb(255, 0, 0);
    font-size: 0.8em;
  }

  .recom_link:visited{  /* 방문후 상태 */
    text-decoration: none; /* 밑줄 삭제 */
    color: rgb(255, 128, 192);
    font-size: 0.8em;
  }

  .recom_link:hover{  /* A 태그에 마우스가 올라간 상태 */
    text-decoration: none; /* 밑줄 출력 */
    color: pink;
    font-size: 0.8em;
  }

  .recom_link:active{  /* A 태그를 클릭한 상태 */
    text-decoration: none; /* 밑줄 출력 */
    color: rgb(0, 0, 64);
    font-size: 0.8em;    
  }
  
  .content_title {
    border-top: none;
    border-right: none;
    border-bottom: solid 1px #dddddd;
    border-left: none;
    margin-bottom: 20px;
  }   


  
  .li_left_menu_1 { /* 화면 좌측 대분류 */
    list-style: none;
    margin-top: 25px;
    background: url(/css/images/li_left_menu_1.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }   
    
  .li_left_menu_2 { /* 화면 좌측 중분류 */
    list-style: none;
    margin: 15px 10px;
    background: url(/css/images/li_left_menu_2.png) left center no-repeat;
    background-size: 16px;
    padding-left: 25px;
    line-height: 15px;
  }   
  
  .label_basic {
    width: 200px;
    background-color: #99cc00;
    color: #FFFFFF;
    font-weight: normal;
    display: inline-block; /* DIV 태그처럼 한줄의 영역을 블럭 영역으로 확장 표시 */
    text-align: right;
    padding-right: 10px;
  }
  
  /* 기타 메시지 */
  .message {
    font-weight: bold;  
    width: 70%;
    border: none;
    margin: 30px auto;
    text-align: center;
    background-color: #FAFAFA;
    padding: 30px;
    
  }
  
  /* 알림 메시지 */ 
  .span_info {
    font-weight: bold;
    color: rgb(128, 255, 128);
    background-color: transparent;
    padding: 2px;
    margin-top: 2px;
    text-align: center;
    font-size: 20px;
  }
  
  /* 주의 메시지 */
  .span_alert {
    font-weight: bold;
    color: #ffffff;
    background-color: rgb(255, 255, 255);
    padding: 2px;
    margin-top: 2px;
  }
  
  /* 경고 메시지 */  
  .span_warning {
    font-weight: bold;
    color: rgb(255, 0, 0);
    background-color: transparent;
    padding: 2px;
    margin-top: 2px; 
    text-align: center;
    font-size: 20px;
  }
  
  .msg_warning {
    font-weight: bold;
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    padding: 2px;
    margin: 10px auto;
    text-align: center;
    width: 80%;
    margin-top: 2px; 
  }  
  
  /* 처리 성공 메시지 */
  .span_success {
    font-weight: bold;
    background: url('/css/images/url5.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px;
    margin-top: 2px; 
  }
  
  /* 처리 실패 메시지 */
  .span_fail {
    font-weight: bold;
    background: url('/css/images/url8.png') left center no-repeat;
    background-size: 10px;
    padding-top: 0px;
    padding-left: 20px;
    margin-top: 2px; 
  }

  .cart_label {
    width: 50%; 
    text-align: left; 
    float: left; 
    font-size: 1.5em;
  }
  .cart_price {
    width: 50%; 
    text-align: right; 
    float: left; 
    font-size: 1.5em;
  }
  .contents_text {

    font-size:16px;
  }
  

  
  .form_input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .form_input_bottom {
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
  }
    .nav-top {
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 7px;
    text-align: right;
    background-color: transparent; /* 버튼 배경색을 투명으로 설정 */
    font-size: 0.1em; /* 부모 글자 크기에 비해서 80%로 출력 */
  }
  
  
/* 작은 화면에서는 테이블의 가로 스크롤이 생기도록 설정 */
@media screen and (max-width: 358px) {
  table {
    overflow-x: auto;
    display: block;
    width: 100%;
  }
}

/* 테이블의 셀들을 세로로 배치 */
@media screen and (max-width: 200px) {
  table thead, table tbody, table th, table td, table tr {
    display: block;
  }
  table tbody tr {
    margin-bottom: 10px;
  }
  table th, table td {
    /* 셀 사이의 간격을 조절 */
    border: none;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding-left: 50%;
    text-align: left;
    width: 100%;
  }
  table th:before, table td:before {
    /* 각 셀의 라벨을 표시 */
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: bold;
  }
}

/* 글자 크기 조절 */
@media screen and (max-width: 500px) {
  table th, table td, table td_bs{
    font-size: 12px;
  }
  
  
}




  
  
  