<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ChatGPT 번역기</title>
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
  
  <script>
    // window.onload = function() {
    window.onload = () => {
      let sentence_tag = document.getElementById('sentence');
      let language_tag = document.getElementById('language');
      let age_tag = document.getElementById('age');
      let send_tag = document.getElementById('send');
      let result_animation_tag = document.getElementById('result_animation');
      let result_tag = document.getElementById('result');

      // async: 비동기 통신, 일단 요청을 하고 응답이 즉시 안와도 에러가 발생 안됨, 응답이 오면 그때 이어서 처리. 
      send_tag.addEventListener("click", async function() {
        let sentence = sentence_tag.value;
        let language = language_tag.value;
        let age = age_tag.value;

        // {"sentence":"안녕하세요.","language":"영어","age":"25"}
        // console.log(JSON.stringify({sentence, language, age}))
        // return;

        fetch("http://127.0.0.1:5000/translator", {
          "method": "post", 
          "headers": {"Content-Type": "application/json"},
          body: JSON.stringify({sentence, language, age})
        })
        .then((response) => response.json())
        .then((data) => {
          result_tag.value = data['res'];
          result_animation_tag.innerHTML = '';
        });

        result_animation_tag.innerHTML = '<img src="/static/images/progress.gif" style="width: 15%; margin-top: 0px;">';

      });
    }
  </script>
</head>
<body>
  <div style="margin: 30px auto; width: 80%;">
    <h3>ChatGPT 번역</h3>
    <textarea id="sentence" style="width: 100%; height: 200px;">안녕하세요.</textarea>  <br />
 
    어느 언어로 번역하겠습니까? <br />
    <div class="d-flex justify-content-start">
      <select id="language" style='margin-right: 5px;'>
        <option value="한국어">한국어</option>
        <option value="영어" selected>영어</option>
        <option value="일본어">일본어</option>
        <option value="프랑스어">프랑스어</option>
      </select>
      <select id="age" style='margin-right: 5px;'>
        <option value="10" selected>10살 수준</option>
        <option value="15">15살 수준</option>
        <option value="25" selected='selected'>25살 수준</option>
      </select>
      <button id="send" class="btn btn-primary btn-sm" style='margin-right: 5px;'>번역하기</button> <span id='result_animation'></span>
    </div>
    <br />
    결과물 보기 <br />
    <textarea id="result" style="width: 100%; height: 200px;"></textarea>
  </div>
</body>
</html>
