<!DOCTYPE html>
<html lang="ko" layout:decorate="~{admin_layout}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Admin Index</title>
    <style>
      .content_body {
        width: 100%;
      }
    </style>
</head>

<body>
<div layout:fragment="admin_content" style="width: 100%;  text-align: center;">
  
<div style="background-color: white; height: auto">
  <br>
  <br>
  <span style="font-size: 40px;">관리자 페이지</span>
  <br>
  <br><br><br><br>
</div>
  <div style="background-color: black; height:700px;">
    <br>
    <br>
    <div class="d-flex justify-content-between">
      <div style="background-color: blue; width:40%; height:100px; padding:15px;">
        <span>버튼 1</span>
      </div>
      <div style="background-color: red; width:40%; height:100px; padding:15px;">
        <span>버튼 2</span>
      </div>
    </div>
  </div>

</div>
</body>

</html>