<div th:fragment="navbarFragment">
  <style>
    .notification-bell {
      position: relative;
      display: flex;
      font-size: 30px;
      margin-left: 10px;
      margin-top: 5px;

      color: black;
      cursor: pointer;
      transition: color 0.15s ease;
    }

    .notification-bell .badge {
      position: absolute;
      top: 20px;
      left: 15px;

      border-radius: 50%;
      background: red;
      color: white;
      font-size: 10px;
    }

    .notification-bell i {
      color: black;
      /* 기본 색상 설정 */
      transition: color 0.15s ease;
      /* 색상 전환 애니메이션 */
    }

    .notification-bell:hover i {
      color: #333;
      transition: color 0.15s;
    }

    .notification-bell:active i {
      color: #111;
    }




    .notification-dropdown {
      position: absolute;
      right: 1;
      top: 30px;
      width: 300px;
      max-height: 300px;
      overflow-y: auto;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 8px;
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 1000;

    }

    .notification-dropdown ul {
      list-style-type: none;
      margin: 0;
      padding: 10px;
      font-size: 15px;
    }

    .notification-dropdown ul li {
      padding: 10px 15px;
      border-bottom: 1px solid #eee;
      word-wrap: break-word;
      transition: background-color 0.3s;
      font-size: 15px;
    }

    .notification-dropdown ul li:last-child {
      border-bottom: none;
      font-size: 15px;
    }

    .notification-dropdown ul li:hover {
      background-color: #f1f1f1;
      font-size: 15px;
    }

    .notification-dropdown ul li a {
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 15px;
    }

    .notification-dropdown ul li a:hover {
      color: #007bff;
      font-size: 15px;
    }

    /* ==================================================================== */

    .slide-opend {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;
      cursor: pointer;
    }

    .burgurd {
      right: 15px;
      top: 23px;
      position: absolute;
      width: 20px;
      height: 2px;
      background: #000000;
    }

    .burgurd .top-lined {
      width: 20px;
      height: 2px;
      background-color: #000000;
      bottom: -5px;
      content: '';
      position: absolute;
      right: 0;
      -webkit-transition: -webkit-transform .3s;
      transition: transform .3s;
    }

    .burgurd .bot-lined {
      width: 20px;
      height: 2px;
      background-color: #000000;
      top: -5px;
      content: '';
      position: absolute;
      right: 0;
      -webkit-transition: -webkit-transform .3s;
      transition: transform .3s;
    }

    .burgurd.on {
      width: 0;
    }

    .burgurd.on .bot-lined {
      -webkit-transform: translateY(5px) rotate(135deg);
      transform: translateY(5px) rotate(135deg);
    }

    .burgurd.on .top-lined {
      -webkit-transform: translateY(-5px) rotate(-135deg);
      transform: translateY(-5px) rotate(-135deg);
    }

    /*------------- 아코디언 ------------------------------------------*/
    .accordion-button {
      background-color: #212529;
      color: #ffffff;
    }

    .accordion-button:not(.collapsed) {
      background-color: #212529;
      color: #ffffff;
    }

    .accordion-body {
      background-color: #5e6069;
      color: #ffffff;
    }

    .accordion-header {
      background-color: #212529;
      color: #ffffff;
    }
  </style>

  <script>



    let localIncrementCount = 0;

    document.addEventListener('DOMContentLoaded', function () {
      var socket = new SockJS('/ws');
      var stompClient = Stomp.over(socket);
      let no = "[[${session.memberno}]]";
      if (no != "") {
        alarm_count(no);
      } 
      stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);
        stompClient.subscribe('/topic/notifications', function (notification) {

          if (no != "") {
            console.log('Notification received: ' + notification.body);
            increaseBadgeCount();
            alarm_count(no);
          }
        });
      });
    });

    function alarm_list(no) {

      fetch("/alarm/alarm_list?memberno=[[${session.memberno}]]", {
        "method": "get" // get 방식은 header 와 body 불필요
      })
        .then((response) => response.json())
        .then((data) => {
          let msg = '';
          let alarm_data = data['res'];
          let cnt = alarm_data.length;

          for (let i = 0; i < cnt; i++) {
            let row = data['res'][i];

            // 시간을 연도, 월, 일, 시간, 분, 초 단위로 나누는 부분
            let [datePart, timePart] = row.rdate.split(' ');
            let [year, month, day] = datePart.split('-');
            let [hour, minute, second] = timePart.split(':');
            let postDate = new Date(year, month - 1, day, hour, minute, second);

            msg += "<li id='alarm" + row.alarmno + "'>";
            msg += "<a href='http://localhost:3000/patch/" + row.patchno + "' style='text-decoration: none;' onclick='alarm_delete(" + row.alarmno + ")'>" + row.title + "</a>";
            msg += "<span>&nbsp;&nbsp;&nbsp;" + timeSince(postDate) + "</span>"; // 시간 표시 부분
            msg += "</li>";


          }

          document.getElementById('notification_list').innerHTML = msg;

        });
    }


    function toggleDropdown() {
      let no = "[[${session.memberno}]]";

      if (no != "") {
        alarm_list(no);
      }

      var dropdown = document.getElementById('notification-dropdown');
      if (dropdown.style.display === 'none' || dropdown.style.display === '') {
        dropdown.style.display = 'block';
      } else {
        dropdown.style.display = 'none';
      }
    }

    async function alarm_count(no) {
      console.log("카운트 함수 실행");
      try {
        const response = await fetch(`/alarm/alarm_cnt?memberno=${no}`, {
          method: 'get'
        });
        const data = await response.json();
        console.log("카운트 fetch함수 실행");

        let count = data.cnt;
        setBadgeCount(count + localIncrementCount);
      } catch (error) {
        console.error("Error fetching alarm count:", error);
      }
    }

    function setBadgeCount(count) {
      let badge = document.getElementById('notification_badge');
      badge.innerText = count;

      if (count != 0) {
        badge.style.display = '';
      } else {
        badge.style.display = 'none';
      }
    }

    function increaseBadgeCount() {
      if (localIncrementCount < 1) {
        localIncrementCount += 1;
      }
      let badge = document.getElementById('notification_badge');
      let currentCount = parseInt(badge.innerText, 10);
      let newCount = currentCount + 1;
      setBadgeCount(newCount);
    }

    function alarm_delete(alarmno) {
      fetch("/alarm/delete", {
        "method": "post",
        "headers": {"Content-Type": "application/json"},
        body: JSON.stringify({"alarmno": alarmno}),
        credentials: "include"
      })
        .then((response) => response.json())
        .then((data) => {
        });
    }

    function timeSince(date) { // 작성일자 표시 함수
      const seconds = Math.floor((new Date() - date) / 1000);
      let interval = seconds / 31536000;

      if (interval > 1) {
        return Math.floor(interval) + "년 전";
      }
      interval = seconds / 2592000;
      if (interval > 1) {
        return Math.floor(interval) + "달 전";
      }
      interval = seconds / 86400;
      if (interval > 1) {
        return Math.floor(interval) + "일 전";
      }
      interval = seconds / 3600;
      if (interval > 1) {
        return Math.floor(interval) + "시간 전";
      }
      interval = seconds / 60;
      if (interval > 1) {
        return Math.floor(interval) + "분 전";
      }
      return Math.floor(seconds) + "초 전";
    }


  </script>

  <div class="top_menu">
    <!-- top_navigation -->
    <div class="top_navigation">

      <div class="notification-bell" onclick="toggleDropdown()">
        <i class="fas fa-bell"></i>
        <span class="badge" id="notification_badge" style="display: none;">0</span>
        <div class="notification-dropdown" id="notification-dropdown">
          <ul id="notification_list"></ul>
        </div>

      </div>
      <a href="/" aria-label="홈버튼" style='font-weight: bold; margin-left:0px;'>Health Care
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <div class="slide-opend" id="slide-opend">
          <span class="burgurd" id="burgurd">
            <span class="top-lined"></span>
            <span class="bot-lined"></span>
          </span>
        </div>
      </button>
    </div>
    <!-- top_navigation -->


    <!-- offcanvas offcanvas-end text-bg-dark -->
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel">
      <div class="offcanvas-header" style="width:100%;">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Health Care</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <!-- offcanvas-body-->
      <br>
      <br>
      <br>

      <div th:if="${session.memberno != null}">
        <div style="background-color: #343a40; padding:12px 16px 12px 16px; border-radius: 7px;">

          <!-- 프로필 이미지 -->
          <div th:if="${memberVO != null}">
            <div
              th:if="${memberVO.profile.endsWith('jpg') or memberVO.profile.endsWith('png')  or memberVO.profile.endsWith('gif')}"
              style="width:100%; padding:14px; text-align: center;">
              <img th:src="@{|/member/storage/${memberVO.thumbs}|}" class="profile-img"
                style="width:80px; height:80px; border-radius: 50%;">
            </div>
            <div
              th:if="${((memberVO.profile.endsWith('jpg') or memberVO.profile.endsWith('png')  or memberVO.profile.endsWith('gif')) == false) and (memberVO.sizes > 0)}">
              <span th:text="${memberVO.profile}" style="width:80px; height:80px; border-radius: 50%;"></span>
            </div>
            <div th:if="${memberVO.sizes == 0}">
              <img src="/images/none.jpg" class="default-img" style="width:80px; height:80px; border-radius: 50%;">
            </div>
          </div>
          <div th:if="${memberVO == null}">
            <img src="/images/none.jpg" class="default-img" style="width:80px; height:80px; border-radius: 50%;">
          </div>
          <!-- 프로필 이미지 -->

          <div style="text-align: center;">
            <span th:if="${memberVO != null}" th:text="|${memberVO.nickname}님|" style="color: white;"></span><br>
            <span th:if="${memberVO == null}" th:text="홍길동님" style="color: white;"></span><br>
            <span style="color: white; font-size: 12px;">반가워요.</span>
          </div>
        </div>
      </div>
      <div th:if="${session.memberno == null}">
        <span style="color: white;">로그인을 해주세요.</span>
      </div>
      <br>
      <br>
      <!-- ============================================================== -->
      <div class="accordion accordion-flush" id="accordionFlushExample" style="width:100%;">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              계정
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" th:if="${session.memberno == null}" onclick="location.href='/member/login'">
              <span style="margin-left: 23px; color: white;">로그인</span>
            </div>
            <div class="accordion-body" th:if="${session.memberno == null}" onclick="location.href='/member/create'">
              <span style="margin-left: 23px; color: white;">회원가입</span>
            </div>
            <div class="accordion-body" th:if="${session.memberno != null}"
              th:onclick="|location.href='/member/read?memberno=${session.memberno}'|">
              <span style="margin-left: 23px; color: white;">회원정보</span>
            </div>
            <div class="accordion-body" th:if="${session.memberno != null}" onclick="location.href='/member/logout'">
              <span style="margin-left: 23px; color: white;">로그아웃</span>
            </div>
          </div>
        </div>
        <div class="accordion-item" th:if="${session.memberno != null}">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
              추천
            </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" onclick="location.href='/mh/list_all'">
              <span style="margin-left: 23px; color: white;">회원 건강 정보</span>
            </div>
            <div class="accordion-body" onclick="location.href='/goals/list_all'">
              <span style="margin-left: 23px; color: white;">운동 목표</span>
            </div>
            <div class="accordion-body" onclick="location.href='/healthrecom/list_all'">
              <span style="margin-left: 23px; color: white;">운동 추천</span>
            </div>
            <div class="accordion-body" onclick="location.href='/foodrecom/list_all'">
              <span style="margin-left: 23px; color: white;">식단 추천</span>
            </div>
          </div>
        </div>
        <div class="accordion-item" th:if="${session.adminsno != null}">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              관리자
            </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body" onclick="location.href='/health/list_all?now_page=1'">
              <span style="margin-left: 23px; color: white;">운동 글 전체 목록</span>
            </div>
            <div class="accordion-body" onclick="location.href='/htc/list_search'">
              <span style="margin-left: 23px; color: white;">운동 카테 등록, 목록</span>
            </div>
            <div class="accordion-body" onclick="location.href='/cate/list_search'">
              <span style="margin-left: 23px; color: white;">커뮤니티 카테고리 등록, 목록</span>
            </div>
            <div class="accordion-body" onclick="location.href='/foodcate/list_all'">
              <span style="margin-left: 23px; color: white;">식단카테고리 목록</span>
            </div>
            <div class="accordion-body" onclick="location.href='/history/full_analysis'">
              <span style="margin-left: 23px; color: white;">사용자 운동 기록 분석</span>
            </div>
            <div class="accordion-body" onclick="location.href='/admin/logout'">
              <span style="margin-left: 23px; color: white;">관리자 로그아웃</span>
            </div>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->

      <!-- offcanvas-body-->


      <div style="width:100%; padding:14px; margin-top:870px; margin-right:100px; margin-left:15px; position: fixed;
            text-align: left;" onclick="location.href='/admin/login_need'">
        <span style="color: white;">관리자 로그인 ▷</span>
      </div>
    </div>
    <!-- offcanvas offcanvas-end text-bg-dark -->

  </div><!-- top_menu -->




</div>