<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <style>
    span,
    div {
      font-size: 13px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr {
      cursor: pointer;
    }

    tr:hover {
      background-color: #ddd;
    }

    .button-style {
      border: none;
    }

    .button-style:hover {
      color: dimgrey;
    }


    .chart-container {
      height: 800px;
      /* 원하는 높이로 설정 */
      overflow: auto;
      /* 차트가 넘칠 경우 스크롤 생성 */
    }

    #chart_div {
      width: 100%;
      height: 100%;
    }
  </style>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <div class='title_line'>
    <span th:text="|추천 운동 데이터&nbsp;&nbsp;|" class="title_line_text"></span>
    > &nbsp;<span th:text="|${memberVO.id} 님|" class="title_line_text"></span>

  </div>

  <div class='menu_line'></div>

  <script>
    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(drawBasic);
    
    window.onload = () => {
      document.getElementById('ex_group').addEventListener("change", () => {
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);
      });

      document.getElementById('ex_intensity').addEventListener("change", () => {
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);
      });
      
      document.getElementById('effect_purpose').addEventListener("change", () => {
        google.charts.load('current', {packages: ['corechart', 'bar']});
        google.charts.setOnLoadCallback(drawBasic);
      });
    }

    function drawBasic() {

      let list_exdata_tag = document.getElementById('list_exdata');
      let group_tag = document.getElementById('ex_group');
      let group = group_tag.value;

      let intensity_tag = document.getElementById('ex_intensity');
      let intensity = intensity_tag.value;
      
      let purpose_tag = document.getElementById('effect_purpose');
      let purpose = purpose_tag.value;

      fetch("/exdata/list_part_exdata?part=" + group, {
        "method": "get",
        "headers": {"Content-Type": "application/json"},
      })
        .then((response) => response.json())
        .then((data) => {

          let data_array = [
            ["운동명", "효율 점수"]
          ];
          for (let i = 0; i < data['res'].length; i++) {
            let row = data['res'][i];
            
            if (purpose == "muscle") {

              let loweffect = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * 0.0167 * 0.8 + row.lowact * 0.7 - row.lowrisk * 0.2).toFixed(2));
              row.loweffect = loweffect;

              let mideffect = parseFloat((row.midmet * "[[${mhVO.kg}]]" * 0.0167 * 0.8 + row.midact * 0.7 - row.midrisk * 0.2).toFixed(2));
              row.mideffect = mideffect;

              let higheffect = parseFloat((row.highmet * "[[${mhVO.kg}]]" * 0.0167 * 0.8 + row.highact * 0.7 - row.highrisk * 0.2).toFixed(2));
              row.higheffect = higheffect;

            } else if (purpose == "weight") {

              let loweffect = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * 0.0167 * 5.6 + row.lowact * 0.1 - row.lowrisk * 0.2).toFixed(2));
              row.loweffect = loweffect;

              let mideffect = parseFloat((row.midmet * "[[${mhVO.kg}]]" * 0.0167 * 5.6 + row.midact * 0.1 - row.midrisk * 0.2).toFixed(2));
              row.mideffect = mideffect;

              let higheffect = parseFloat((row.highmet * "[[${mhVO.kg}]]" * 0.0167 * 5.6 + row.highact * 0.1 - row.highrisk * 0.2).toFixed(2));
              row.higheffect = higheffect;
            }
            
            if (intensity == 1) {
              data_array.push([row.exname, row.loweffect]);
            } else if (intensity == 2) {
              data_array.push([row.exname, row.mideffect]);
            } else if (intensity == 3) {
              data_array.push([row.exname, row.higheffect]);
            }
          }

          let chart_data = google.visualization.arrayToDataTable(data_array);


          var options = {
            title: ' 각 운동마다 운동 효율성에 대한 데이터',
            chartArea: {width: '50%'},
            hAxis: {
              title: '',
              minValue: 0,
              maxValue: 80
            },
            vAxis: {
              title: ''
            }
          };


          var chart = new google.visualization.BarChart(document.getElementById('chart_div'));

          chart.draw(chart_data, options);
        });
    }
  </script>
  <h2>운동 효율 데이터
    <span><a href="/exdata/" style="margin-left:20px; font-size: 15px;">돌아가기</a></span>
  </h2>
  

  <label for="ex_intensity">운동강도&nbsp;</label>
  <select id="ex_intensity">
    <option value="1">낮음</option>
    <option value="2">보통</option>
    <option value="3">높음</option>
  </select>


  <label for="ex_group">&nbsp;&nbsp;&nbsp;부위별 조회&nbsp;</label>
  <select id="ex_group">
    <option value="가슴">가슴</option>
    <option value="등">등</option>
    <option value="어깨">어깨</option>
    <option value="팔">팔</option>
    <option value="하체">하체</option>
    <option value="복근">복근</option>
    <option value="유산소">유산소</option>
  </select>

  <label for="effect_purpose">&nbsp;운동목적&nbsp;</label>
  <select id="effect_purpose">
    <option value="muscle">근육량 증가</option>
    <option value="weight">체중 감소</option>
  </select>


  <div id="chart-container">
    <div id="chart_div" style="height:700px;"></div>
  </div>



</div>


</html>