<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <style>
    span,
    div {
      font-size: 13px;
    }

    table {
      width: 100%;
      border-collapse: collapse;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    tr {
      cursor: pointer;
    }

    tr:hover {
      background-color: #ddd;
    }

    .button-style {
      border: none;
    }

    .button-style:hover {
      color: dimgrey;
    }

    .btn-chart {
            background-color: #007bff;
            color: #ffffff;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .btn-chart:hover {
            background-color: #0056b3;
        }
        .chart-icon {
            width: 16px;
            height: 16px;
            margin-right: 10px;
        }
        .title-with-button {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .title-with-button h2 {
            margin-right: 10px;
            margin: 0; /* 제목 요소의 기본 여백 제거 */
        }
  </style>
  <div class='title_line'>
    <span th:text="|추천 운동 데이터&nbsp;&nbsp;|" class="title_line_text"></span>
    > &nbsp;<span th:text="|${memberVO.id} 님|" class="title_line_text"></span>

  </div>

  <div class='menu_line'></div>

  <script>
    let extime = 0.0167; // 운동시간 (0.0167 = 1분)

    window.onload = () => {
      let ex_time_tag = document.getElementById('ex_time');

      let effect_intensity_tag = document.getElementById('effect_intensity');
      let effect_purpose_tag = document.getElementById('effect_purpose');

      list_all_form();
      list_all_sort();
      list_part_sort();
      list_effect_form();

      document.getElementById('ex_intensity').addEventListener("change", () => {

        if (document.getElementById('ex_group').value == 'all') {
          list_all_form();
        } else {
          list_part_form();
        }
      });

      document.getElementById('ex_group').addEventListener("change", () => {

        if (document.getElementById('ex_group').value != 'all') {
          document.getElementById('cal_asc').style.display = 'none';
          document.getElementById('cal_desc').style.display = 'none';
          document.getElementById('act_asc').style.display = 'none';
          document.getElementById('act_desc').style.display = 'none';
          document.getElementById('risk_asc').style.display = 'none';
          document.getElementById('risk_desc').style.display = 'none';
          document.getElementById('part_cal_asc').style.display = '';
          document.getElementById('part_cal_desc').style.display = '';
          document.getElementById('part_act_asc').style.display = '';
          document.getElementById('part_act_desc').style.display = '';
          document.getElementById('part_risk_asc').style.display = '';
          document.getElementById('part_risk_desc').style.display = '';
          list_part_form();

        } else {

          document.getElementById('cal_asc').style.display = '';
          document.getElementById('cal_desc').style.display = '';
          document.getElementById('act_asc').style.display = '';
          document.getElementById('act_desc').style.display = '';
          document.getElementById('risk_asc').style.display = '';
          document.getElementById('risk_desc').style.display = '';
          document.getElementById('part_cal_asc').style.display = 'none';
          document.getElementById('part_cal_desc').style.display = 'none';
          document.getElementById('part_act_asc').style.display = 'none';
          document.getElementById('part_act_desc').style.display = 'none';
          document.getElementById('part_risk_asc').style.display = 'none';
          document.getElementById('part_risk_desc').style.display = 'none';

          list_all_form();

        }
      });

      ex_time_tag.addEventListener("change", () => {

        extime = 0.0167 * ex_time_tag.value;

        if (document.getElementById('ex_group').value != 'all') {
          list_part_form();
        } else {
          list_all_form();
        }

      });

      effect_intensity_tag.addEventListener("change", () => {
        list_effect_form();
      });

      effect_purpose_tag.addEventListener("change", () => {
        list_effect_form();
      });

    }
    //---------------------------- window 함수 종료 -----------------------------------
    function list_all_form() { // 모든 운동 데이터 폼
      let list_exdata_tag = document.getElementById('list_exdata');
      let intensity_tag = document.getElementById('ex_intensity');
      let intensity = intensity_tag.value;



      fetch("/exdata/list_all_exdata", {
        "method": "get",
        "headers": {"Content-Type": "application/json"},
      })
        .then((response) => response.json())
        .then((data) => {
          let msg = '';
          //alert(data['res'][1].exname);
          for (let i = 0; i < data['res'].length; i++) {
            let row = data['res'][i];

            let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.lowmet = lowcal + "kcal";

            let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.midmet = midcal + "kcal";;

            let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.highmet = highcal + "kcal";;

            if (row.musclesub == null) {
              row.musclesub = ' ';
            }

            msg += "<tr id='exdata" + row.exdatano + "' onclick=>";
            msg += "<td>" + row.exgroup + "</td>";
            msg += "<td>" + row.exname + "</td>";
            msg += "<td>" + row.muscle + "</td>";
            msg += "<td>" + row.musclesub + "</td>";
            msg += "<td>" + row.exlevel + "</td>";
            if (intensity == 1) {
              msg += "<td>" + row.lowmet + "</td>";
              msg += "<td>" + row.lowact + "</td>";
              msg += "<td>" + row.lowrisk + "</td>";
              console.log(intensity);
            } else if (intensity == 2) {

              msg += "<td>" + row.midmet + "</td>";
              msg += "<td>" + row.midact + "</td>";
              msg += "<td>" + row.midrisk + "</td>";
              console.log(intensity);
            }

            else if (intensity == 3) {
              msg += "<td>" + row.highmet + "</td>";
              msg += "<td>" + row.highact + "</td>";
              msg += "<td>" + row.highrisk + "</td>";
              console.log(intensity);
            }

          }
          list_exdata_tag.innerHTML = msg;

        });
    }

    function list_all_sort() { // 모든 운동 데이터 정렬
      let cal_asc_tag = document.getElementById('cal_asc');
      let cal_desc_tag = document.getElementById('cal_desc');

      let act_asc_tag = document.getElementById('act_asc');
      let act_desc_tag = document.getElementById('act_desc');

      let risk_asc_tag = document.getElementById('risk_asc');
      let risk_desc_tag = document.getElementById('risk_desc');

      cal_asc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity')
        let intensity = intensity_tag.value

        fetch("/exdata/list_all_exdata_cal_asc?intensity=" + intensity, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1 || intensity == '') {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;



            }
            console.log("asc " + intensity);
          });

      });


      cal_desc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        fetch("/exdata/list_all_exdata_cal_desc?intensity=" + intensity, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1) {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;


            }
            console.log("desc " + intensity);
          });

      });

      act_asc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity')
        let intensity = intensity_tag.value

        fetch("/exdata/list_all_exdata_act_asc?intensity=" + intensity, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1 || intensity == '') {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;



            }
            console.log("asc " + intensity);
          });

      });


      act_desc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        fetch("/exdata/list_all_exdata_act_desc?intensity=" + intensity, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1) {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;


            }
            console.log("desc " + intensity);
          });

      });

      risk_asc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        fetch("/exdata/list_all_exdata_risk_asc?intensity=" + intensity, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1 || intensity == '') {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;



            }
            console.log("asc " + intensity);
          });

      });


      risk_desc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        fetch("/exdata/list_all_exdata_risk_desc?intensity=" + intensity, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1) {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;


            }
            console.log("desc " + intensity);
          });

      });

    }

    //---------------------------------------------------------------------------------------------------------------------------

    function list_part_form() { // 부위별 운동 데이터 폼
      let list_exdata_tag = document.getElementById('list_exdata');
      let group_tag = document.getElementById('ex_group');
      let group = group_tag.value;

      let intensity_tag = document.getElementById('ex_intensity');
      let intensity = intensity_tag.value;

      if (group == 'all') {
        list_all_form()
        return;
      }
      console.log("group => " + group);

      fetch("/exdata/list_part_exdata?part=" + group, {
        "method": "get",
        "headers": {"Content-Type": "application/json"},
      })
        .then((response) => response.json())
        .then((data) => {
          let msg = '';
          //alert(data['res'][1].exname);
          for (let i = 0; i < data['res'].length; i++) {
            let row = data['res'][i];

            let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.lowmet = lowcal + "kcal";;

            let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.midmet = midcal + "kcal";;

            let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.highmet = highcal + "kcal";;

            if (row.musclesub == null) {
              row.musclesub = ' ';
            }

            msg += "<tr id='exdata" + row.exdatano + "' onclick=>";
            msg += "<td>" + row.exgroup + "</td>";
            msg += "<td>" + row.exname + "</td>";
            msg += "<td>" + row.muscle + "</td>";
            msg += "<td>" + row.musclesub + "</td>";
            msg += "<td>" + row.exlevel + "</td>";
            if (intensity == 1) {
              msg += "<td>" + row.lowmet + "</td>";
              msg += "<td>" + row.lowact + "</td>";
              msg += "<td>" + row.lowrisk + "</td>";
              console.log(intensity);
            } else if (intensity == 2) {

              msg += "<td>" + row.midmet + "</td>";
              msg += "<td>" + row.midact + "</td>";
              msg += "<td>" + row.midrisk + "</td>";
              console.log(intensity);
            }

            else if (intensity == 3) {
              msg += "<td>" + row.highmet + "</td>";
              msg += "<td>" + row.highact + "</td>";
              msg += "<td>" + row.highrisk + "</td>";
              console.log(intensity);
            }

          }
          list_exdata_tag.innerHTML = msg;

        });

    }

    function list_part_sort() { // 부위별 운동 데이터 정렬
      let part_cal_asc_tag = document.getElementById('part_cal_asc');
      let part_cal_desc_tag = document.getElementById('part_cal_desc');

      let part_act_asc_tag = document.getElementById('part_act_asc');
      let part_act_desc_tag = document.getElementById('part_act_desc');

      let part_risk_asc_tag = document.getElementById('part_risk_asc');
      let part_risk_desc_tag = document.getElementById('part_risk_desc');

      part_cal_asc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        let group_tag = document.getElementById('ex_group');
        let group = group_tag.value;



        fetch("/exdata/list_part_exdata_cal_asc?intensity=" + intensity + "&part=" + group, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';

            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1 || intensity == '') {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;



            }
            console.log("partasc " + intensity);
          });

      });


      part_cal_desc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        let group_tag = document.getElementById('ex_group');
        let group = group_tag.value;

        fetch("/exdata/list_part_exdata_cal_desc?intensity=" + intensity + "&part=" + group, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1) {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;


            }
            console.log("partdesc " + intensity);
          });

      });

      part_act_asc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        let group_tag = document.getElementById('ex_group');
        let group = group_tag.value;

        fetch("/exdata/list_part_exdata_act_asc?intensity=" + intensity + "&part=" + group, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1 || intensity == '') {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;



            }
            console.log("partasc " + intensity);
          });

      });


      part_act_desc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        let group_tag = document.getElementById('ex_group');
        let group = group_tag.value;

        fetch("/exdata/list_part_exdata_act_desc?intensity=" + intensity + "&part=" + group, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1) {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;


            }
            console.log("partdesc " + intensity);
          });

      });

      part_risk_asc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        let group_tag = document.getElementById('ex_group');
        let group = group_tag.value;

        fetch("/exdata/list_part_exdata_risk_asc?intensity=" + intensity + "&part=" + group, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1 || intensity == '') {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;



            }
            console.log("partasc " + intensity);
          });

      });


      part_risk_desc_tag.addEventListener("click", () => {
        let intensity_tag = document.getElementById('ex_intensity');
        let intensity = intensity_tag.value;

        let group_tag = document.getElementById('ex_group');
        let group = group_tag.value;

        fetch("/exdata/list_part_exdata_risk_desc?intensity=" + intensity + "&part=" + group, {
          "method": "get",
          "headers": {"Content-Type": "application/json"},
        }).then((response) => response.json())
          .then((data) => {
            let msg = '';
            for (let i = 0; i < data['res'].length; i++) {
              let row = data['res'][i];

              let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.lowmet = lowcal + "kcal";;

              let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.midmet = midcal + "kcal";;

              let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
              row.highmet = highcal + "kcal";;

              if (row.musclesub == null) {
                row.musclesub = ' ';
              }

              msg += "<tr id='exdata" + row.exdatano + "'>";
              msg += "<td>" + row.exgroup + "</td>";
              msg += "<td>" + row.exname + "</td>";
              msg += "<td>" + row.muscle + "</td>";
              msg += "<td>" + row.musclesub + "</td>";
              msg += "<td>" + row.exlevel + "</td>";
              if (intensity == 1) {
                msg += "<td>" + row.lowmet + "</td>";
                msg += "<td>" + row.lowact + "</td>";
                msg += "<td>" + row.lowrisk + "</td>";

              } else if (intensity == 2) {
                msg += "<td>" + row.midmet + "</td>";
                msg += "<td>" + row.midact + "</td>";
                msg += "<td>" + row.midrisk + "</td>";

              } else if (intensity == 3) {
                msg += "<td>" + row.highmet + "</td>";
                msg += "<td>" + row.highact + "</td>";
                msg += "<td>" + row.highrisk + "</td>";

              }
              document.getElementById('list_exdata').innerHTML = msg;


            }
            console.log("partdesc " + intensity);
          });

      });

    }

    function list_effect_form() {
      let list_effect_exdata_tag = document.getElementById('list_effect_exdata');

      let intensity_tag = document.getElementById('effect_intensity');
      let intensity = intensity_tag.value;

      let purpose_tag = document.getElementById('effect_purpose');
      let purpose = purpose_tag.value;



      fetch("/exdata/list_effect?intensity=" + intensity + "&purpose=" + purpose, {
        "method": "get",
        "headers": {"Content-Type": "application/json"},
      })
        .then((response) => response.json())
        .then((data) => {
          let msg = '';
          //alert(data['res'][1].exname);
          for (let i = 0; i < data['res'].length; i++) {
            let row = data['res'][i];

            if (purpose == "muscle") {

              let loweffect = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * 0.0167 * 0.8 + row.lowact * 0.7 - row.lowrisk * 0.2).toFixed(2));
              row.loweffect = loweffect;

              let mideffect = parseFloat((row.midmet * "[[${mhVO.kg}]]" * 0.0167 * 0.8 + row.midact * 0.7 - row.midrisk * 0.2).toFixed(2));
              row.mideffect = mideffect;

              let higheffect = parseFloat((row.highmet * "[[${mhVO.kg}]]" * 0.0167 * 0.8 + row.highact * 0.7 - row.highrisk * 0.2).toFixed(2));
              row.higheffect = higheffect;

            } else if (purpose == "weight") {

              let loweffect = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * 0.0167 * 5.6 + row.lowact * 0.1 - row.lowrisk * 0.2).toFixed(2));
              row.loweffect = loweffect;

              let mideffect = parseFloat((row.midmet * "[[${mhVO.kg}]]" * 0.0167 * 5.6 + row.midact * 0.1 - row.midrisk * 0.2).toFixed(2));
              row.mideffect = mideffect;

              let higheffect = parseFloat((row.highmet * "[[${mhVO.kg}]]" * 0.0167 * 5.6 + row.highact * 0.1 - row.highrisk * 0.2).toFixed(2));
              row.higheffect = higheffect;
            }

            let lowcal = parseFloat((row.lowmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.lowmet = lowcal + "kcal";

            let midcal = parseFloat((row.midmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.midmet = midcal + "kcal";;

            let highcal = parseFloat((row.highmet * "[[${mhVO.kg}]]" * extime).toFixed(2));
            row.highmet = highcal + "kcal";;



            if (row.musclesub == null) {
              row.musclesub = ' ';
            }

            msg += "<tr id='exdata" + row.exdatano + "' onclick=>";
            msg += "<td>" + row.exgroup + "</td>";
            msg += "<td>" + row.exname + "</td>";
            msg += "<td>" + row.muscle + "</td>";
            msg += "<td>" + row.musclesub + "</td>";
            msg += "<td>" + row.exlevel + "</td>";
            if (intensity == 1) {
              //msg += "<td>" + row.lowmet + "</td>";
              //msg += "<td>" + row.lowact + "</td>";
              //msg += "<td>" + row.lowrisk + "</td>";
              msg += "<td>" + row.loweffect + "</td>";
              console.log(intensity);
            } else if (intensity == 2) {

              //msg += "<td>" + row.midmet + "</td>";
              //msg += "<td>" + row.midact + "</td>";
              //msg += "<td>" + row.midrisk + "</td>";
              msg += "<td>" + row.mideffect + "</td>";
              console.log(intensity);
            }

            else if (intensity == 3) {
              //msg += "<td>" + row.highmet + "</td>";
              //msg += "<td>" + row.highact + "</td>";
              //msg += "<td>" + row.highrisk + "</td>";
              msg += "<td>" + row.higheffect + "</td>";
              console.log(intensity);
            }

          }
          list_effect_exdata_tag.innerHTML = msg;

        });
    }




  </script>
  <div class="title-with-button">
    <h2 class="inline-block">추천 운동 데이터</h2>
    <button class="btn-chart" style="margin-left:70px;" onclick="location.href='/exdata/chart'">
        <svg class="chart-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="12" width="4" height="9" fill="#ffffff"/>
            <rect x="10" y="6" width="4" height="15" fill="#ffffff"/>
            <rect x="17" y="3" width="4" height="18" fill="#ffffff"/>
        </svg>
        차트조회
    </button>
</div>
<br>

  
  
  <label for="ex_intensity">운동강도&nbsp;</label>
  <select id="ex_intensity">
    <option value="1">낮음</option>
    <option value="2">보통</option>
    <option value="3">높음</option>
  </select>


  <label for="ex_group">&nbsp;&nbsp;&nbsp;부위별 조회&nbsp;</label>
  <select id="ex_group">
    <option value="all">모두보기</option>
    <option value="가슴">가슴</option>
    <option value="등">등</option>
    <option value="어깨">어깨</option>
    <option value="팔">팔</option>
    <option value="하체">하체</option>
    <option value="복근">복근</option>
    <option value="유산소">유산소</option>
  </select>

  <label for="ex_time">&nbsp;&nbsp;운동시간&nbsp;</label>
  <select id="ex_time">
    <option value="1">1분</option>
    <option value="5">5분</option>
    <option value="15">15분</option>
    <option value="30">30분</option>
    <option value="60">60분</option>
  </select>


  <table>
    <thead>
      <tr>
        <th>운동근육그륩</th>
        <th>운동명</th>
        <th>주동근</th>
        <th>협응근</th>
        <th>난이도 </th>
        <th>소모 칼로리 &nbsp;&nbsp;&nbsp;<button name="cal_asc" id="cal_asc" type="button" class="button-style"
            onclick="">△</button><button name="cal_desc" id="cal_desc" type="button" class="button-style">▽</button>
          <button name="part_cal_asc" id="part_cal_asc" type="button" class="button-style" style="display: none;"
            onclick="">△</button><button name="part_cal_desc" id="part_cal_desc" type="button" class="button-style"
            style="display: none;">▽</button>
        </th>

        <th>근육활성도 &nbsp;&nbsp;<button name="act_asc" id="act_asc" type="button" class="button-style">△</button><button
            name="act_desc" id="act_desc" type="button" class="button-style">▽</button>
          <button name="part_act_asc" id="part_act_asc" type="button" class="button-style" style="display: none;"
            onclick="">△</button><button name="part_act_desc" id="part_act_desc" type="button" class="button-style"
            style="display: none;">▽</button>
        </th>

        <th>부상위험도 &nbsp;&nbsp;<button name="risk_asc" id="risk_asc" type="button" class="button-style">△</button><button
            name="risk_desc" id="risk_desc" type="button" class="button-style">▽</button>
          <button name="part_risk_asc" id="part_risk_asc" type="button" class="button-style"
            style="display: none;">△</button><button name="part_risk_desc" id="part_risk_desc" type="button"
            class="button-style" style="display: none;">▽</button>
        </th>

      </tr>
    </thead>
    <tbody name="list_exdata" id="list_exdata">



    </tbody>
  </table>
  <br><br>
  <h2 style="float:left;">효율적인 운동&nbsp;</h2>
  <h6 style="margin-top:10px">- 목적에 맞는 각 부위별 효율적인 운동 제공</h6>
  <button class="btn-chart"  onclick="location.href='/exdata/chart_effect'">
        <svg class="chart-icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect x="3" y="12" width="4" height="9" fill="#ffffff"/>
            <rect x="10" y="6" width="4" height="15" fill="#ffffff"/>
            <rect x="17" y="3" width="4" height="18" fill="#ffffff"/>
        </svg>
        차트조회
    </button>
  <br>

  <label for="effect_intensity">운동강도&nbsp;</label>
  <select id="effect_intensity">
    <option value="1">낮음</option>
    <option value="2">보통</option>
    <option value="3">높음</option>
  </select>

  <label for="effect_purpose">&nbsp;운동목적&nbsp;</label>
  <select id="effect_purpose">
    <option value="muscle">근육량 증가</option>
    <option value="weight">체중 감소</option>
  </select>

  <table>
    <thead>
      <tr>
        <th>운동근육그륩</th>
        <th>운동명</th>
        <th>주동근</th>
        <th>협응근</th>
        <th>난이도 </th>
        <th>효율점수</th>


      </tr>
    </thead>
    <tbody name="list_effect_exdata" id="list_effect_exdata">



    </tbody>
  </table>




</div>


</html>