<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%; margin: 30px auto; text-align: center;">

  <style>
    body {
      background-color: black;
    }

    /* =========기록 활동 버튼=============== */
    .button-container {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
    }

    .button {
      width: 50%;
      background-color: gray;
      padding: 8px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
    }

    .button span {
      font-size: 17px;
      color: white;
    }

    .button:hover {
      background-color: lightgray;
      transform: scale(1.05);
    }

    /* ===============기록 활동 버튼=============== */
    .insta {
      color: white;
    }

    .image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .image-item {
      width: 31%;
      margin: 1%;
      position: relative;
    }

    .profile-img,
    .default-img {
      width: 100%;
      height: auto;
      border-radius: 5px;
      transition: border 0.3s ease;
    }

    .image-item:hover .profile-img,
    .image-item:hover .default-img {
      border: 2px solid white;
    }

    .image-item span {
      display: block;
      height: 119px;
      line-height: 119px;
      text-align: center;
      background-color: #f0f0f0;
      border-radius: 5px;
      transition: border 0.3s ease;
    }

    .image-item:hover span {
      border: 2px solid white;
    }

    /* 팔로잉 팔로우 버튼*/
    .followButton {
      float: right;
      margin-left: 10%;
      border-radius: 9px;
      margin: 0 17px 15px 0;
      background-color: #00CED1;
      padding: 7px;
    }

    .unfollowButton {
      float: right;
      margin-left: 10%;
      border-radius: 9px;
      margin: 0 17px 15px 0;
      background-color: red;
      padding: 7px;
    }
  </style>

  <div style="text-align: left;">
    <span id="history_back" style="font-size: 15px; color: white; cursor: pointer;" onclick="history.back()">◀
      뒤로가기</span>
  </div>


  <div class="button-container">
    <div id="record_btn" class="button">
      <span style="color: #E6E6E6;">기록</span>
    </div>
    <div id="activity_btn" class="button" style="background-color: #E6E6E6;">
      <span style="color: black;">활동</span>
    </div>
  </div>

  <br>

  <div style="float:left; width:30%;"
    th:if="${memberVO.profile.endsWith('jpg') or memberVO.profile.endsWith('png')  or memberVO.profile.endsWith('gif')}">
    <img th:src="@{|/member/storage/${memberVO.thumbs}|}" class="profile-img"
      style="border-radius: 50%; width:74%; margin-bottom:8px;"><br>
    <span th:text="${memberVO.nickname}" class="insta" style="font-size: 16px;">박주찬</span>
  </div>

  <div style="float:left; width:30%;"
    th:if="${((memberVO.profile.endsWith('jpg') or memberVO.profile.endsWith('png')  or memberVO.profile.endsWith('gif')) == false) and (memberVO.sizes > 0)}">
    <span th:text="${memberVO.profile}" style="border-radius: 50%; width:74%; margin-bottom:8px;"><br></span>
    <span th:text="${memberVO.nickname}" class="insta" style="font-size: 16px;">박주찬</span>
  </div>

  <div style="float:left; width:30%;" th:if="${memberVO.sizes == 0}">
    <img src="/images/none.jpg" class="default-img" style="border-radius: 50%; width:54%; margin-bottom:8px;"><br>
    <span th:text="${memberVO.nickname}" class="insta" style="font-size: 16px;">박주찬</span>
  </div>



  <div style="float:right; background-color: white; border-radius: 7px; padding: 4px; width:70%;">
    <div style="background-color: black; border-radius: 7px; padding:7px;">
      <div class="d-flex justify-content-around">
        <span th:text="${cnt}" class="insta"></span>
        <span th:text="${follower_cnt}" id="follow" class="insta" style="cursor:pointer;"></span>
        <span th:text="${following_cnt}" id="following" class="insta" style="cursor:pointer;"></span>
      </div>
      <div class="d-flex justify-content-around">
        <span class="insta">게시글</span>
        <span class="insta">팔로우</span>
        <span class="insta">팔로잉</span>
      </div>
    </div>
  </div>
  <div style="clear: both;">
  </div>

  <div th:if="${memberVO.introduce == null}" style="float:left; text-align: left; margin-left:20px; margin-top:5px;">
    <span style="font-size: 14px; ">소개글이 없습니다.</span>
  </div>
  <div th:if="${memberVO.introduce != null}" style="float:left; text-align: left; margin-left:20px; margin-top:5px;">
    <span th:text="|▷ ${memberVO.introduce}|" class="insta" style="font-size: 12px;">박주찬</span>
  </div>
  <div th:if="${exit_cnt == 0}" id="followButton" class="followButton">
    <span id="followButtonText">팔로우</span>
  </div>
  <div th:if="${exit_cnt == 1}" id="unfollowButton" class="unfollowButton">
    <span id="unfollowButtonText">언팔로우</span>
  </div>

  <div id="profile_update"
    style="cursor:pointer; float: right; border-radius: 9px; margin:0 17px 15px 0; background-color: #00CED1; padding:7px;">
    <span>프로필 편집</span>
  </div>
  <div style="clear: both;">
  </div>



  <div style="background-color: #000000; padding:5px 0 2px 0; border: 2px solid white;">
    <div style="float: left; margin-left: 23%;">
      <i class="bi bi-grid-3x3-gap" style="font-size: 25px;  color: white;"></i>
    </div>
    <div style="float: right; margin-right: 23%;">
      <i class="bi bi-person-square" style="font-size: 25px; color: white;"></i>
    </div>
    <div style="clear: both;">
    </div>
  </div>

  <!--  
    <div style="text-align: left;">
      <div style="margin: 3px;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
      </div>
      <div style="margin: 3px;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
      </div>
      <div style="margin: 3px;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
        <img src="/images/none.jpg" style="width: 32%; height: 32%;">
      </div>
    </div>
 -->


  <div class="image-container">
    <div th:each="list, status : ${list}" class="image-item">
      <div class="image-id"
        th:if="${list.recprofile.endsWith('jpg') or list.recprofile.endsWith('png') or list.recprofile.endsWith('gif')}">
        <img th:src="@{|/recordImage/storage/${list.recthumbs}|}" class="profile-img" style="height:119px;" alt="Image">
        <input type="hidden" class="exrecordno" th:value="${list.exrecordno}">
      </div>
      <div class="image-id"
        th:if="${((list.recprofile.endsWith('jpg') or list.recprofile.endsWith('png') or list.recprofile.endsWith('gif')) == false) and (list.recsizes > 0)}">
        <span th:text="${list.recprofile}" style="height:119px;"></span>
        <input type="hidden" class="exrecordno" th:value="${list.exrecordno}">
      </div>
      <div class="image-id" th:if="${list.recsizes == 0}">
        <img src="/history/images/no.jpg" class="default-img" style="height:119px;" alt="No Image">
        <input type="hidden" class="exrecordno" th:value="${list.exrecordno}">
      </div>
      <div class="image-id" th:if="${list == null}">
        <img src="/history/images/no.jpg" class="default-img" style="height:119px;" alt="No Image">
        <input type="hidden" class="exrecordno" th:value="${list.exrecordno}">
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <div th:if="${list == null or #lists.isEmpty(list)}">
    <span style="color: white; font-size: 20px;">게시글이 없습니다.</span>
  </div>


  <script>

    // URL에 memberno의 값을 추출
    function getQueryParams() {
      let params = {};
      window.location.search.substring(1).split("&").forEach(pair => {
        let [key, value] = pair.split("=");
        params[decodeURIComponent(key)] = decodeURIComponent(value);
      });
      return params;
    }

    document.addEventListener("DOMContentLoaded", function () {
      let params = getQueryParams();
      let memberno = params['memberno'];
      let sessionMemberno = '[[${session.memberno}]]';
      if (sessionMemberno != memberno) {
        document.getElementById('profile_update').style.display = 'none';
      }


      if (memberno) {
        // 팔로우 조회버튼
        document.getElementById('follow').onclick = function () {
          //alert(1)
          location.href = `/history/profile_follower?memberno=${memberno}`;
        };
        // 팔로잉 조회 버튼
        document.getElementById('following').onclick = function () {
          location.href = `/history/profile_followng?memberno=${memberno}`;
        };

        document.getElementById('record_btn').onclick = function () {
          location.href = `/history/history_form?memberno=${memberno}`;
        };

        document.getElementById('activity_btn').onclick = function () {
          location.href = `/history/profile_activity?memberno=${memberno}`;
        };
        document.getElementById('profile_update').onclick = function () {
          location.href = `/member/profile_update?memberno=${memberno}`;
        };
        document.querySelectorAll('.image-id').forEach(function (imageDiv) {
          imageDiv.addEventListener('click', function () {
            let exrecordno = this.querySelector('.exrecordno').value;
            location.href = `/history/profile_detail?exrecordno=${exrecordno}&memberno=${memberno}`;
          });
        });

        follows(memberno)
      }
      if (memberno && sessionMemberno) {
        if (memberno == sessionMemberno) {
          document.getElementById('followButton').style.display = 'none';
          document.getElementById('unfollowButton').style.display = 'none';
        }
      } else {
        alert('memberno 파라미터가 없거나 세션 정보가 없습니다.');
      }




      function follows(memberno) {

        let followButton = document.getElementById('followButton');
        let unfollowButton = document.getElementById('unfollowButton');


        if (followButton) {
          followButton.addEventListener('click', function (event) {
            fetch('/follows/follower_insert', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({memberno: memberno})
            })
              .then(response => response.json())
              .then(data => {
                if (data['cnt'] == 1) {
                  console.log('팔로우 성공');
                  followButton.style.backgroundColor = 'red';
                  followButton.innerHTML = '<span id="followButtonText">언팔로우</span>';
                  followButton.id = 'unfollowButton';
                  location.reload();
                  //updateButtonListeners();
                } else {
                  console.log('팔로우 실패');
                }
              })
              .catch(error => {
                console.error('Error:', error);
              });
          });
        }

        if (unfollowButton) {
          unfollowButton.addEventListener('click', function (event) {
            fetch('/follows/delete_friends', {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json'
              },
              body: JSON.stringify({memberno: memberno})
            })
              .then(response => response.json())
              .then(data => {
                if (data['cnt'] == 1) {
                  console.log('언팔로우 성공');
                  unfollowButton.style.backgroundColor = '#00CED1';
                  unfollowButton.innerHTML = '<span id="followButtonText">팔로우</span>';
                  unfollowButton.id = 'followButton';
                  location.reload();
                  //updateButtonListeners();
                } else {
                  console.log('언팔로우 실패');
                }
              })
              .catch(error => {
                console.error('Error:', error);
              });
          });
        }

      } // function 끝
    });

  </script>

</div>

</html>