<html layout:decorate="~{layout}">
<!-- layout.html 상속 -->
<div layout:fragment="content" style="width: 100%; margin: 30px auto; text-align: center;">
  <style>
    body {
      background-color: black;
    }

    /* =========기록 활동 버튼=============== */
    .button-container {
      width: 100%;
      margin-bottom: 10px;
      display: flex;
    }

    .button {
      width: 50%;
      background-color: gray;
      padding: 8px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.3s;
    }

    .button span {
      font-size: 17px;
      color: white;
    }

    .button:hover {
      background-color: lightgray;
      transform: scale(1.05);
    }

    /* ===============기록 활동 버튼=============== */
  </style>
  <div style="text-align: left;">
    <span id="history_back" style="font-size: 15px; color: white; cursor: pointer;">◀
      뒤로가기</span>
  </div>
  <div class="button-container">
    <div id="record_btn" class="button">
      <span th:text="|팔로워 ${follower_cnt}|" style="color: #E6E6E6;">팔로우</span>
    </div>
    <div id="activity_btn" class="button" style="background-color: #E6E6E6;">
      <span th:text="|팔로잉 ${following_cnt}|" style="color: black;">팔로잉</span>
    </div>
  </div>

  <div>

    <!-- 프로필 조회 -->
    <div th:each="list, status : ${list}">
      <div class="d-flex justify-content-between"
        style="background-color: #2e2d2d; padding: 10px; border-bottom: 1px solid gray;">


        <div style="text-align: left;  width:90%; padding-bottom:7px; cursor: pointer;"
          th:onclick="|location.href='/history/profile_activity?memberno=${list.memberno}'|"
          th:if="${list.profile.endsWith('jpg') or list.profile.endsWith('png')  or list.profile.endsWith('gif')}">
          <img th:src="@{|/member/storage/${list.thumbs}|}" class="profile-img"
            style="width: 15%; height:115%; border-radius: 50%; cursor: pointer;">
          <span th:text="${list.nickname}" style="margin-left: 17px; font-size: 18px; cursor: pointer; color: #e6e6e6;">닉넴따윗</span>
        </div>


        <div style="text-align: left;  width:90%; cursor: pointer;"
          th:onclick="|location.href='/history/profile_activity?memberno=${list.memberno}'|"
          th:if="${((list.profile.endsWith('jpg') or list.profile.endsWith('png')  or list.profile.endsWith('gif')) == false) and (list.sizes > 0)}">
          <span th:text="${list.profile}" style="width: 15%; border-radius: 50%; cursor: pointer;"></span>
          <span th:text="${list.nickname}" style="margin-left: 17px; font-size: 18px; cursor: pointer; color: #e6e6e6;">닉넴따윗</span>
        </div>


        <div style="text-align: left;  width:90%; cursor: pointer;"
          th:onclick="|location.href='/history/profile_activity?memberno=${list.memberno}'|" th:if="${list.sizes == 0}">
          <img src="/images/none.jpg" class="default-img" style="width: 15%; border-radius: 50%; cursor: pointer;">
          <span th:text="${list.nickname}" style="margin-left: 17px; font-size: 18px; cursor: pointer; color: #e6e6e6;">닉넴따윗</span>
        </div>
        <div style="margin-top: 5px;">
          <span th:text="${list.mname}" style="font-size: 12px; color: #e6e6e6;">닉넴따윗</span>
        </div>
      </div>
    </div>

    <script>
      // URL에 memberno의 값을 추출
      function getQueryParams() {
        let params = {};
        window.location.search.substring(1).split("&").forEach(pair => {
          let [key, value] = pair.split("=");
          params[decodeURIComponent(key)] = decodeURIComponent(value);
        });
        return params;
      }

      document.addEventListener("DOMContentLoaded", function () {
        let params = getQueryParams();
        let memberno = params['memberno'];

        // 팔로우 조회버튼 
        document.getElementById('history_back').onclick = function () {
          //alert(1)
          location.href = `/history/profile_activity?memberno=${memberno}`;
        };


        document.getElementById('record_btn').onclick = function () {
          location.href = `/history/profile_follower?memberno=${memberno}`;
        };

        document.getElementById('activity_btn').onclick = function () {
          location.href = `/history/profile_followng?memberno=${memberno}`;
        };
      });
    </script>

  </div>

</html>